.swidth {
	width: auto;
}

.ml10 {
	margin-left: 10px;
}

.w20 {
	width: 20%;
}

.examMessage {
	margin: 0px;
    height: 130px;
    width: 537px;
}

@media ( max-width : 979px) {
	.stats-container {
		height: 600px;
	}
	.stats-container [class^="col-"], .stats-container [class*="col-"] {
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 12px;
		height: auto;
	}
}

/*
print css
*/
.tc {
    text-align: center;
}

.text-left {
	width: 40%;
    float: left;
    margin-left: 14%;
}

.table-margin {
	margin-left: 5%
}

.table-margin td,.table-margin th {
    text-align: center;
}

.print-width50 {
	width: 50px;
}

.print-width125 {
	width: 125px;
}