
/*
  图表左侧图标样式
*/
#dlPicture {
	position: absolute;
    left: 13%;
    z-index: 1;
    margin-top: 0.8%;
}

#dlPicture:hover {
	cursor: pointer;
}

#syPicture {
	position: absolute;
    left: 62%;
    z-index: 1;
    margin-top: 0.8%;
}

#syPicture:hover {
	cursor: pointer;
}

/*查询条件样式*/
.condition-group {
	margin-left: 9.2%;
	height: 35px;
}
.condition {
	height: 50px;
	width: 30%;
}
.fl {
	float: left;
}
.condition-label {
	width: 35%;
}
.condition-control {
	width: 65%;
}
.container {
	width: 50%;
	margin-top: 1.3%;
	text-align: -webkit-center;
}

/*销售日报表页面样式*/
#sellDaily tr td {
	text-align: center;
}
