<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.dao.DeptPerformanceInfoDao" >
  <resultMap id="BaseResultMap" type="com.portal.bean.DeptPerformanceInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="employee_id" property="employeeId" jdbcType="VARCHAR" />
    <result column="performance" property="performance" jdbcType="DECIMAL" />
    <result column="order_amounts" property="orderAmounts" jdbcType="INTEGER" />
    <result column="new_customer_counts" property="newCustomerCounts" jdbcType="INTEGER" />
    <result column="report_date" property="reportDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.employeeId != null" >
         and employee_id = #{condition.employeeId,jdbcType=VARCHAR}
      </if>
      <if test="condition.performance != null" >
         and performance = #{condition.performance,jdbcType=DECIMAL}
      </if>
      <if test="condition.orderAmounts != null" >
         and order_amounts = #{condition.orderAmounts,jdbcType=INTEGER}
      </if>
      <if test="condition.newCustomerCounts != null" >
         and new_customer_counts = #{condition.newCustomerCounts,jdbcType=INTEGER}
      </if>
      <if test="condition.reportDate != null" >
         and report_date = #{condition.reportDate,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.employeeId != null" >
         and employee_id = #{example.condition.employeeId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.performance != null" >
         and performance = #{example.condition.performance,jdbcType=DECIMAL}
      </if>
      <if test="example.condition.orderAmounts != null" >
         and order_amounts = #{example.condition.orderAmounts,jdbcType=INTEGER}
      </if>
      <if test="example.condition.newCustomerCounts != null" >
         and new_customer_counts = #{example.condition.newCustomerCounts,jdbcType=INTEGER}
      </if>
      <if test="example.condition.reportDate != null" >
         and report_date = #{example.condition.reportDate,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, employee_id, performance, order_amounts, new_customer_counts, report_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portal.bean.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dept_performance_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dept_performance_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dept_performance_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portal.bean.Criteria" >
    delete from dept_performance_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portal.bean.DeptPerformanceInfo" >
    insert into dept_performance_info (id, employee_id, performance, 
      order_amounts, new_customer_counts, report_date
      )
    values (#{id,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR}, #{performance,jdbcType=DECIMAL}, 
      #{orderAmounts,jdbcType=INTEGER}, #{newCustomerCounts,jdbcType=INTEGER}, #{reportDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.portal.bean.DeptPerformanceInfo" >
    insert into dept_performance_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="performance != null" >
        performance,
      </if>
      <if test="orderAmounts != null" >
        order_amounts,
      </if>
      <if test="newCustomerCounts != null" >
        new_customer_counts,
      </if>
      <if test="reportDate != null" >
        report_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="performance != null" >
        #{performance,jdbcType=DECIMAL},
      </if>
      <if test="orderAmounts != null" >
        #{orderAmounts,jdbcType=INTEGER},
      </if>
      <if test="newCustomerCounts != null" >
        #{newCustomerCounts,jdbcType=INTEGER},
      </if>
      <if test="reportDate != null" >
        #{reportDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.portal.bean.Criteria" resultType="java.lang.Integer" >
    select count(*) from dept_performance_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dept_performance_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.employeeId != null" >
        employee_id = #{record.employeeId,jdbcType=VARCHAR},
      </if>
      <if test="record.performance != null" >
        performance = #{record.performance,jdbcType=DECIMAL},
      </if>
      <if test="record.orderAmounts != null" >
        order_amounts = #{record.orderAmounts,jdbcType=INTEGER},
      </if>
      <if test="record.newCustomerCounts != null" >
        new_customer_counts = #{record.newCustomerCounts,jdbcType=INTEGER},
      </if>
      <if test="record.reportDate != null" >
        report_date = #{record.reportDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dept_performance_info
    set id = #{record.id,jdbcType=VARCHAR},
      employee_id = #{record.employeeId,jdbcType=VARCHAR},
      performance = #{record.performance,jdbcType=DECIMAL},
      order_amounts = #{record.orderAmounts,jdbcType=INTEGER},
      new_customer_counts = #{record.newCustomerCounts,jdbcType=INTEGER},
      report_date = #{record.reportDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portal.bean.DeptPerformanceInfo" >
    update dept_performance_info
    <set >
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="performance != null" >
        performance = #{performance,jdbcType=DECIMAL},
      </if>
      <if test="orderAmounts != null" >
        order_amounts = #{orderAmounts,jdbcType=INTEGER},
      </if>
      <if test="newCustomerCounts != null" >
        new_customer_counts = #{newCustomerCounts,jdbcType=INTEGER},
      </if>
      <if test="reportDate != null" >
        report_date = #{reportDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portal.bean.DeptPerformanceInfo" >
    update dept_performance_info
    set employee_id = #{employeeId,jdbcType=VARCHAR},
      performance = #{performance,jdbcType=DECIMAL},
      order_amounts = #{orderAmounts,jdbcType=INTEGER},
      new_customer_counts = #{newCustomerCounts,jdbcType=INTEGER},
      report_date = #{reportDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>