<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.dao.OrderInfoDao" >
  <resultMap id="BaseResultMap" type="com.portal.bean.OrderInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="phone_staff_id" property="phoneStaffId" jdbcType="VARCHAR" />
    <result column="receiver_staff_id" property="receiverStaffId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="pay_price" property="payPrice" jdbcType="DECIMAL" />
    <result column="actual_price" property="actualPrice" jdbcType="DECIMAL" />
    <result column="finance_flag" property="financeFlag" jdbcType="VARCHAR" />
    <result column="finance_type" property="financeType" jdbcType="VARCHAR" />
    <result column="finance_operator_id" property="financeOperatorId" jdbcType="VARCHAR" />
    <result column="finance_date" property="financeDate" jdbcType="TIMESTAMP" />
    <result column="warehouse_flag" property="warehouseFlag" jdbcType="VARCHAR" />
    <result column="warehouse_operator_id" property="warehouseOperatorId" jdbcType="VARCHAR" />
    <result column="warehouse_date" property="warehouseDate" jdbcType="TIMESTAMP" />
    <result column="culture_flag" property="cultureFlag" jdbcType="VARCHAR" />
    <result column="culture_operator_id" property="cultureOperatorId" jdbcType="VARCHAR" />
    <result column="culture_date" property="cultureDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" /> 
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_phone" property="customerPhone" jdbcType="VARCHAR" />
    <result column="good_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="receiver_staff_name" property="receiverStaffName" jdbcType="VARCHAR" />
    <result column="phone_staff_name" property="phoneStaffName" jdbcType="VARCHAR" />
    <result column="goodsQuantity" property="goodsQuantity" jdbcType="VARCHAR" />
    <result column="culture_remark" property="cultureRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.id != null" >
         and id = #{condition.id,jdbcType=VARCHAR}
      </if>
      <if test="condition.orderNumber != null" >
         and order_number = #{condition.orderNumber,jdbcType=VARCHAR}
      </if>
      <if test="condition.customerId != null" >
         and customer_id = #{condition.customerId,jdbcType=VARCHAR}
      </if>
      <if test="condition.phoneStaffId != null" >
         and phone_staff_id = #{condition.phoneStaffId,jdbcType=VARCHAR}
      </if>
      <if test="condition.receiverStaffId != null" >
         and receiver_staff_id = #{condition.receiverStaffId,jdbcType=VARCHAR}
      </if>
      <if test="condition.status != null" >
         and order_info.status = #{condition.status,jdbcType=VARCHAR}
      </if>
      <if test="condition.orderType != null" >
         and order_type = #{condition.orderType,jdbcType=VARCHAR}
      </if>
      <if test="condition.payType != null" >
         and pay_type = #{condition.payType,jdbcType=VARCHAR}
      </if>
      <if test="condition.payPrice != null" >
         and pay_price = #{condition.payPrice,jdbcType=DECIMAL}
      </if>
      <if test="condition.actualPrice != null" >
         and actual_price = #{condition.actualPrice,jdbcType=DECIMAL}
      </if>
      <if test="condition.financeFlag != null" >
         and finance_flag = #{condition.financeFlag,jdbcType=VARCHAR}
      </if>
      <if test="condition.financeType != null" >
         and finance_type = #{condition.financeType,jdbcType=VARCHAR}
      </if>
      <if test="condition.financeOperatorId != null" >
         and finance_operator_id = #{condition.financeOperatorId,jdbcType=VARCHAR}
      </if>
      <if test="condition.financeDate != null" >
         and finance_date = #{condition.financeDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.warehouseFlag != null" >
         and warehouse_flag = #{condition.warehouseFlag,jdbcType=VARCHAR}
      </if>
      <if test="condition.warehouseOperatorId != null" >
         and warehouse_operator_id = #{condition.warehouseOperatorId,jdbcType=VARCHAR}
      </if>
      <if test="condition.warehouseDate != null" >
         and warehouse_date = #{condition.warehouseDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.cultureFlag != null" >
         and culture_flag = #{condition.cultureFlag,jdbcType=VARCHAR}
      </if>
      <if test="condition.cultureOperatorId != null" >
         and culture_operator_id = #{condition.cultureOperatorId,jdbcType=VARCHAR}
      </if>
      <if test="condition.cultureDate != null" >
         and culture_date = #{condition.cultureDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.remarks != null" >
         and remarks = #{condition.remarks,jdbcType=VARCHAR}
      </if>
      <if test="condition.createDate != null" >
         and create_date = #{condition.createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.createId != null" >
         and create_id = #{condition.createId,jdbcType=VARCHAR}
      </if>
      <if test="condition.updateDate != null" >
         and update_date = #{condition.updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.updateId != null" >
         and update_id = #{condition.updateId,jdbcType=VARCHAR}
      </if>
      <if test="condition.deleteFlag != null" >
         and order_info.delete_flag = #{condition.deleteFlag,jdbcType=VARCHAR}
      </if>
      <if test="condition.cultureRemark != null" >
         and culture_remark = #{condition.cultureRemark,jdbcType=VARCHAR}
      </if>
      <!-- 新增查询今天的条件 -->
      <if test="condition.today_flag != null" >
         and to_days(create_date) = to_days(now())
      </if>
      <!-- 财务查询订单为正常的或者订单为退货换货仓库为已入库的订单 -->
      <if test="condition.financeOrder != null and condition.financeOrder == 1" >
         and (order_type = 1 or ((order_type = 2 or order_type = 3) and warehouse_flag = -1) or culture_flag = -1)
         and order_type != 4
         and order_type != 6
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.orderNumber != null" >
         and order_number = #{example.condition.orderNumber,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.customerId != null" >
         and customer_id = #{example.condition.customerId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.phoneStaffId != null" >
         and phone_staff_id = #{example.condition.phoneStaffId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.receiverStaffId != null" >
         and receiver_staff_id = #{example.condition.receiverStaffId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.status != null" >
         and order_info.status = #{example.condition.status,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.orderType != null" >
         and order_type = #{example.condition.orderType,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.payType != null" >
         and pay_type = #{example.condition.payType,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.payPrice != null" >
         and pay_price = #{example.condition.payPrice,jdbcType=DECIMAL}
      </if>
      <if test="example.condition.actualPrice != null" >
         and actual_price = #{example.condition.actualPrice,jdbcType=DECIMAL}
      </if>
      <if test="example.condition.financeFlag != null" >
         and finance_flag = #{example.condition.financeFlag,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.financeType != null" >
         and finance_type = #{example.condition.financeType,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.financeOperatorId != null" >
         and finance_operator_id = #{example.condition.financeOperatorId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.financeDate != null" >
         and finance_date = #{example.condition.financeDate,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.warehouseFlag != null" >
         and warehouse_flag = #{example.condition.warehouseFlag,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.warehouseOperatorId != null" >
         and warehouse_operator_id = #{example.condition.warehouseOperatorId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.warehouseDate != null" >
         and warehouse_date = #{example.condition.warehouseDate,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.cultureFlag != null" >
         and culture_flag = #{example.condition.cultureFlag,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.cultureOperatorId != null" >
         and culture_operator_id = #{example.condition.cultureOperatorId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.cultureDate != null" >
         and culture_date = #{example.condition.cultureDate,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.createDate != null" >
         and create_date = #{example.condition.createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.createId != null" >
         and create_id = #{example.condition.createId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.updateDate != null" >
         and update_date = #{example.condition.updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.updateId != null" >
         and update_id = #{example.condition.updateId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.deleteFlag != null" >
         and order_info.delete_flag = #{example.condition.deleteFlag,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.cultureRemark != null" >
         and culture_remark = #{example.ondition.cultureRemark,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    order_info.id, order_info.order_number, order_info.customer_id, order_info.phone_staff_id, 
    order_info.receiver_staff_id, order_info.status, order_info.order_type, order_info.pay_type, 
    order_info.pay_price, order_info.actual_price, order_info.finance_flag, order_info.finance_type, 
    order_info.finance_operator_id, order_info.finance_date, order_info.warehouse_flag, 
    order_info.warehouse_operator_id, order_info.warehouse_date, order_info.culture_flag, 
    order_info.culture_operator_id, order_info.culture_date, order_info.create_date, 
    order_info.create_id, order_info.update_date, order_info.update_id, order_info.delete_flag, 
    order_info.culture_remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portal.bean.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    <if test="condition.financeOrder == 1" >
    	,ei.name as receiver_staff_name
    </if>
    from order_info
    <if test="condition.financeOrder == 1" >
    left join employee_info ei on ei.id = order_info.receiver_staff_id
    </if>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portal.bean.Criteria" >
    delete from order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portal.bean.OrderInfo" >
    insert into order_info (id, order_number, customer_id, 
      phone_staff_id, receiver_staff_id, status, 
      order_type, pay_type, pay_price, 
      actual_price, finance_flag, finance_type, 
      finance_operator_id, finance_date, warehouse_flag, 
      warehouse_operator_id, warehouse_date, culture_flag, 
      culture_operator_id, culture_date, create_date, 
      create_id, update_date, update_id, 
      delete_flag)
    values (#{id,jdbcType=VARCHAR}, #{orderNumber,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, 
      #{phoneStaffId,jdbcType=VARCHAR}, #{receiverStaffId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{orderType,jdbcType=VARCHAR}, #{payType,jdbcType=VARCHAR}, #{payPrice,jdbcType=DECIMAL}, 
      #{actualPrice,jdbcType=DECIMAL}, #{financeFlag,jdbcType=VARCHAR}, #{financeType,jdbcType=VARCHAR}, 
      #{financeOperatorId,jdbcType=VARCHAR}, #{financeDate,jdbcType=TIMESTAMP}, #{warehouseFlag,jdbcType=VARCHAR}, 
      #{warehouseOperatorId,jdbcType=VARCHAR}, #{warehouseDate,jdbcType=TIMESTAMP}, #{cultureFlag,jdbcType=VARCHAR}, 
      #{cultureOperatorId,jdbcType=VARCHAR}, #{cultureDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createId,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR}, 
      #{deleteFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.portal.bean.OrderInfo" >
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="phoneStaffId != null" >
        phone_staff_id,
      </if>
      <if test="receiverStaffId != null" >
        receiver_staff_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="payPrice != null" >
        pay_price,
      </if>
      <if test="actualPrice != null" >
        actual_price,
      </if>
      <if test="financeFlag != null" >
        finance_flag,
      </if>
      <if test="financeType != null" >
        finance_type,
      </if>
      <if test="financeOperatorId != null" >
        finance_operator_id,
      </if>
      <if test="financeDate != null" >
        finance_date,
      </if>
      <if test="warehouseFlag != null" >
        warehouse_flag,
      </if>
      <if test="warehouseOperatorId != null" >
        warehouse_operator_id,
      </if>
      <if test="warehouseDate != null" >
        warehouse_date,
      </if>
      <if test="cultureFlag != null" >
        culture_flag,
      </if>
      <if test="cultureOperatorId != null" >
        culture_operator_id,
      </if>
      <if test="cultureDate != null" >
        culture_date,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="phoneStaffId != null" >
        #{phoneStaffId,jdbcType=VARCHAR},
      </if>
      <if test="receiverStaffId != null" >
        #{receiverStaffId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="payPrice != null" >
        #{payPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null" >
        #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="financeFlag != null" >
        #{financeFlag,jdbcType=VARCHAR},
      </if>
      <if test="financeType != null" >
        #{financeType,jdbcType=VARCHAR},
      </if>
      <if test="financeOperatorId != null" >
        #{financeOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="financeDate != null" >
        #{financeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="warehouseFlag != null" >
        #{warehouseFlag,jdbcType=VARCHAR},
      </if>
      <if test="warehouseOperatorId != null" >
        #{warehouseOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="warehouseDate != null" >
        #{warehouseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cultureFlag != null" >
        #{cultureFlag,jdbcType=VARCHAR},
      </if>
      <if test="cultureOperatorId != null" >
        #{cultureOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="cultureDate != null" >
        #{cultureDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.portal.bean.Criteria" resultType="java.lang.Integer" >
    select count(*) from order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNumber != null" >
        order_number = #{record.orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneStaffId != null" >
        phone_staff_id = #{record.phoneStaffId,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverStaffId != null" >
        receiver_staff_id = #{record.receiverStaffId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.orderType != null" >
        order_type = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.payType != null" >
        pay_type = #{record.payType,jdbcType=VARCHAR},
      </if>
      <if test="record.payPrice != null" >
        pay_price = #{record.payPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.actualPrice != null" >
        actual_price = #{record.actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.financeFlag != null" >
        finance_flag = #{record.financeFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.financeType != null" >
        finance_type = #{record.financeType,jdbcType=VARCHAR},
      </if>
      <if test="record.financeOperatorId != null" >
        finance_operator_id = #{record.financeOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.financeDate != null" >
        finance_date = #{record.financeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.warehouseFlag != null" >
        warehouse_flag = #{record.warehouseFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseOperatorId != null" >
        warehouse_operator_id = #{record.warehouseOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseDate != null" >
        warehouse_date = #{record.warehouseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cultureFlag != null" >
        culture_flag = #{record.cultureFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.cultureOperatorId != null" >
        culture_operator_id = #{record.cultureOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.cultureDate != null" >
        culture_date = #{record.cultureDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateId != null" >
        update_id = #{record.updateId,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_info
    set id = #{record.id,jdbcType=VARCHAR},
      order_number = #{record.orderNumber,jdbcType=VARCHAR},
      customer_id = #{record.customerId,jdbcType=VARCHAR},
      phone_staff_id = #{record.phoneStaffId,jdbcType=VARCHAR},
      receiver_staff_id = #{record.receiverStaffId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      order_type = #{record.orderType,jdbcType=VARCHAR},
      pay_type = #{record.payType,jdbcType=VARCHAR},
      pay_price = #{record.payPrice,jdbcType=DECIMAL},
      actual_price = #{record.actualPrice,jdbcType=DECIMAL},
      finance_flag = #{record.financeFlag,jdbcType=VARCHAR},
      finance_type = #{record.financeType,jdbcType=VARCHAR},
      finance_operator_id = #{record.financeOperatorId,jdbcType=VARCHAR},
      finance_date = #{record.financeDate,jdbcType=TIMESTAMP},
      warehouse_flag = #{record.warehouseFlag,jdbcType=VARCHAR},
      warehouse_operator_id = #{record.warehouseOperatorId,jdbcType=VARCHAR},
      warehouse_date = #{record.warehouseDate,jdbcType=TIMESTAMP},
      culture_flag = #{record.cultureFlag,jdbcType=VARCHAR},
      culture_operator_id = #{record.cultureOperatorId,jdbcType=VARCHAR},
      culture_date = #{record.cultureDate,jdbcType=TIMESTAMP},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_id = #{record.createId,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      update_id = #{record.updateId,jdbcType=VARCHAR},
      delete_flag = #{record.deleteFlag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portal.bean.OrderInfo" >
    update order_info
    <set >
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="phoneStaffId != null" >
        phone_staff_id = #{phoneStaffId,jdbcType=VARCHAR},
      </if>
      <if test="receiverStaffId != null" >
        receiver_staff_id = #{receiverStaffId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="payPrice != null" >
        pay_price = #{payPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null" >
        actual_price = #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="financeFlag != null" >
        finance_flag = #{financeFlag,jdbcType=VARCHAR},
      </if>
      <if test="financeType != null" >
        finance_type = #{financeType,jdbcType=VARCHAR},
      </if>
      <if test="financeOperatorId != null" >
        finance_operator_id = #{financeOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="financeDate != null" >
        finance_date = #{financeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="warehouseFlag != null" >
        warehouse_flag = #{warehouseFlag,jdbcType=VARCHAR},
      </if>
      <if test="warehouseOperatorId != null" >
        warehouse_operator_id = #{warehouseOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="warehouseDate != null" >
        warehouse_date = #{warehouseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cultureFlag != null" >
        culture_flag = #{cultureFlag,jdbcType=VARCHAR},
      </if>
      <if test="cultureOperatorId != null" >
        culture_operator_id = #{cultureOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="cultureDate != null" >
        culture_date = #{cultureDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="cultureRemark != null" >
        culture_remark = #{cultureRemark,jdbcType=VARCHAR},
      </if>
      <if test="customerPhone != null" >
        customer_id = (select id from customer_info where phone = #{customerPhone,jdbcType=VARCHAR}),
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portal.bean.OrderInfo" >
    update order_info
    set order_number = #{orderNumber,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=VARCHAR},
      phone_staff_id = #{phoneStaffId,jdbcType=VARCHAR},
      receiver_staff_id = #{receiverStaffId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=VARCHAR},
      pay_price = #{payPrice,jdbcType=DECIMAL},
      actual_price = #{actualPrice,jdbcType=DECIMAL},
      finance_flag = #{financeFlag,jdbcType=VARCHAR},
      finance_type = #{financeType,jdbcType=VARCHAR},
      finance_operator_id = #{financeOperatorId,jdbcType=VARCHAR},
      finance_date = #{financeDate,jdbcType=TIMESTAMP},
      warehouse_flag = #{warehouseFlag,jdbcType=VARCHAR},
      warehouse_operator_id = #{warehouseOperatorId,jdbcType=VARCHAR},
      warehouse_date = #{warehouseDate,jdbcType=TIMESTAMP},
      culture_flag = #{cultureFlag,jdbcType=VARCHAR},
      culture_operator_id = #{cultureOperatorId,jdbcType=VARCHAR},
      culture_date = #{cultureDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectCustomerOrderList" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
		oi.id, oi.order_number, oi.customer_id, oi.phone_staff_id, oi.receiver_staff_id, oi.status, 
		oi.order_type, oi.pay_type, oi.pay_price, oi.actual_price, oi.finance_flag, oi.finance_type, 
		oi.finance_operator_id, oi.finance_date, oi.warehouse_flag, oi.warehouse_operator_id, 
		oi.warehouse_date, oi.culture_flag, oi.culture_operator_id, oi.culture_date, oi.create_date, 
		oi.create_id, oi.update_date, oi.update_id, oi.delete_flag, ei.name as receiver_staff_name, 
		group_concat(odi.good_name, '&amp;', odi.amount) good_name
	from order_info oi
	left join order_detail_info odi on oi.id = odi.order_id
	left join employee_info ei on oi.receiver_staff_id = ei.id
	<trim prefix="where" prefixOverrides="and|or" >
      <if test="customerId != null" >
         and customer_id = #{customerId, jdbcType=VARCHAR}
      </if>
      <if test="receiverStaffId != null" >
         and receiver_staff_id = #{receiverStaffId, jdbcType=VARCHAR}
      </if>
      <if test="createDate != null" >
         and date_format(oi.create_date, '%Y-%m-%d') = date_format(#{createDate, jdbcType=VARCHAR}, '%Y-%m-%d')
      </if>
    </trim>
    group by oi.id
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  
  <select id="selectCustomerOrderCount" parameterType="java.lang.String" resultType="int">
  	select count(1) from (
  	select 
		1
	from order_info oi
	left join order_detail_info odi on oi.id = odi.order_id
	left join employee_info ei on oi.receiver_staff_id = ei.id
	<trim prefix="where" prefixOverrides="and|or" >
      <if test="customerId != null" >
         and oi.customer_id = #{customerId, jdbcType=VARCHAR}
      </if>
      <if test="receiverStaffId != null" >
         and oi.receiver_staff_id = #{receiverStaffId, jdbcType=VARCHAR}
      </if>
      <if test="createDate != null" >
         and date_format(oi.create_date, '%Y-%m-%d') = date_format(#{createDate, jdbcType=VARCHAR}, '%Y-%m-%d')
      </if>
    </trim>
    group by oi.id)a
  </select>
  
  <select id="selectOrderModifyList" resultMap="BaseResultMap" parameterType="com.portal.bean.Criteria">
  	SELECT oi.id, ci.name customer_name, ci.phone customer_phone, group_concat(concat(od.good_name, '(', od.good_id, ')')) good_name, oi.pay_price, oi.order_type, oi.finance_flag,
  		eip.name as phone_staff_name, eir.name as receiver_staff_name, group_concat(concat(od.good_name, '(', od.good_id, ')', '&amp;', od.amount)) goodsQuantity,
  		oi.order_number,oi.finance_date, oi.warehouse_flag
	FROM order_info oi 
	left join order_detail_info od on oi.id = od.order_id
	left join customer_info ci on oi.customer_id = ci.id
	LEFT JOIN employee_info eip on eip.id = oi.phone_staff_id
	LEFT JOIN employee_info eir on eir.id = oi.receiver_staff_id
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.goodsName != null" >
         and od.good_name like concat('%', #{condition.goodsName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="condition.customerName != null" >
         and ci.name like concat('%', #{condition.customerName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="condition.orderType != null" >
         and oi.order_type = #{condition.orderType,jdbcType=VARCHAR}
      </if>
      <if test="condition.financeDate != null" >
         and oi.finance_date = #{condition.financeDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.financeFlag != null" >
         and oi.finance_flag = #{condition.financeFlag,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.userId != null" >
         and oi.receiver_staff_id = #{condition.userId,jdbcType=TIMESTAMP}
      </if>
      <!-- 仓库查看财务已审核或者退货换货仓库未审核的订单 -->
      <if test="condition.store != null and condition.store == 1" >
         and (culture_flag = 1 or ((oi.order_type = 2 or oi.order_type = 3) and (warehouse_flag = '' or warehouse_flag = 0)))
      </if>
      <if test="condition.orderId != null" >
         and oi.id = #{condition.orderId,jdbcType=VARCHAR}
      </if>
      <if test="condition.deleteFlag != null" >
         and oi.delete_flag = #{condition.deleteFlag,jdbcType=VARCHAR}
      </if>
    </trim>
    group by id
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  
  <select id="countOrderModifyList" resultType="int" parameterType="com.portal.bean.Criteria">
  	select count(1) from (
  	SELECT oi.id, ci.name customer_name, ci.phone customer_phone, group_concat(od.good_name) good_name, oi.pay_price, oi.order_type
	FROM order_info oi 
	left join order_detail_info od on oi.id = od.order_id
	left join customer_info ci on oi.customer_id = ci.id
	LEFT JOIN employee_info eip on eip.id = oi.phone_staff_id
	LEFT JOIN employee_info eir on eir.id = oi.receiver_staff_id
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.goodsName != null" >
         and od.good_name like concat('%', #{condition.goodsName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="condition.customerName != null" >
         and ci.name like concat('%', #{condition.customerName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="condition.orderType != null" >
         and oi.order_type = #{condition.orderType,jdbcType=VARCHAR}
      </if>
      <if test="condition.financeDate != null" >
         and oi.finance_date = #{condition.financeDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.financeFlag != null" >
         and oi.finance_flag = #{condition.financeFlag,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.userId != null" >
         and oi.receiver_staff_id = #{condition.userId,jdbcType=TIMESTAMP}
      </if>
      <!-- 仓库查看财务已审核或者退货换货仓库未审核的订单 -->
      <if test="condition.store != null and condition.store == 1" >
         and (culture_flag = 1 or ((oi.order_type = 2 or oi.order_type = 3) and (warehouse_flag = '' or warehouse_flag = 0)))
      </if>
      <if test="condition.orderId != null" >
         and oi.id = #{condition.orderId,jdbcType=VARCHAR}
      </if>
      <if test="condition.deleteFlag != null" >
         and oi.delete_flag = #{condition.deleteFlag,jdbcType=VARCHAR}
      </if>
    </trim>
    ) a
  </select>
  
</mapper>