<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.dao.OrderDetailInfoDao" >
  <resultMap id="BaseResultMap" type="com.portal.bean.OrderDetailInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="good_sort_id" property="goodSortId" jdbcType="VARCHAR" />
    <result column="good_sort_name" property="goodSortName" jdbcType="VARCHAR" />
    <result column="good_id" property="goodId" jdbcType="VARCHAR" />
    <result column="good_type" property="goodType" jdbcType="VARCHAR" />
    <result column="good_name" property="goodName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="delete_flag" property="deleteFlag" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="Remarks" property="remark" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="phone_staff_name" property="phoneStaffName" jdbcType="VARCHAR" />
    <result column="receiver_staff_name" property="receiverStaffName" jdbcType="VARCHAR" />
    <result column="today" property="today" jdbcType="VARCHAR" />
    <result column="actual_price" property="actualPrice" jdbcType="VARCHAR" />
    <result column="pay_price" property="payPrice" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="old_order_id" property="oldOrderId" jdbcType="VARCHAR" />    
    <result column="unit" property="unit" jdbcType="VARCHAR" />    
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.orderId != null" >
         and order_id = #{condition.orderId,jdbcType=VARCHAR}
      </if>
      <if test="condition.goodSortId != null" >
         and good_sort_id = #{condition.goodSortId,jdbcType=VARCHAR}
      </if>
      <if test="condition.goodSortName != null" >
         and good_sort_name = #{condition.goodSortName,jdbcType=VARCHAR}
      </if>
      <if test="condition.goodId != null" >
         and good_id = #{condition.goodId,jdbcType=VARCHAR}
      </if>
      <if test="condition.goodType != null" >
         and good_type = #{condition.goodType,jdbcType=VARCHAR}
      </if>
      <if test="condition.goodName != null" >
         and good_name = #{condition.goodName,jdbcType=VARCHAR}
      </if>
      <if test="condition.price != null" >
         and price = #{condition.price,jdbcType=DECIMAL}
      </if>
      <if test="condition.amount != null" >
         and amount = #{condition.amount,jdbcType=INTEGER}
      </if>
      <if test="condition.orderType != null" >
         and order_type = #{condition.orderType,jdbcType=VARCHAR}
      </if> 
      <if test="condition.deleteFlag != null" >
         and delete_flag = #{condition.deleteFlag,jdbcType=VARCHAR}
      </if>
      <if test="condition.updateDate != null" >
         and update_date = #{condition.updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.updateId != null" >
         and update_id = #{condition.updateId,jdbcType=VARCHAR}
      </if>
      <if test="condition.countCulture != null" >
         and (good_type = 2 or good_type = 3)
      </if>
      <if test="condition.amountType == 1" >
         and order_detail_info.amount > 0
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.orderId != null" >
         and order_id = #{example.condition.orderId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.goodSortId != null" >
         and good_sort_id = #{example.condition.goodSortId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.goodSortName != null" >
         and good_sort_name = #{example.condition.goodSortName,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.goodId != null" >
         and good_id = #{example.condition.goodId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.goodType != null" >
         and good_type = #{example.condition.goodType,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.goodName != null" >
         and good_name = #{example.condition.goodName,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.price != null" >
         and price = #{example.condition.price,jdbcType=DECIMAL}
      </if>
      <if test="example.condition.amount != null" >
         and amount = #{example.condition.amount,jdbcType=INTEGER}
      </if>
      <if test="example.condition.deleteFlag != null" >
         and delete_flag = #{example.condition.deleteFlag,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.updateDate != null" >
         and update_date = #{example.condition.updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.updateId != null" >
         and update_id = #{example.condition.updateId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.orderType != null" >
         and order_type = #{condition.orderType,jdbcType=VARCHAR}
      </if> 
      <if test="example.condition.oldOrderId != null" >
         and old_order_id = #{condition.oldOrderId,jdbcType=VARCHAR}
      </if>   
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    order_detail_info.id, order_detail_info.order_id, order_detail_info.good_sort_id, order_detail_info.good_sort_name, 
    order_detail_info.good_id, order_detail_info.good_type, order_detail_info.good_name, order_detail_info.price, 
    order_detail_info.amount, order_detail_info.delete_flag, order_detail_info.update_date, order_detail_info.update_id, 
    order_detail_info.order_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portal.bean.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    <if test="condition.printInfo == 1" >
    	,gi.unit
    </if>
    from order_detail_info
    <if test="condition.printInfo == 1" >
       left join goods_info gi on gi.id = order_detail_info.good_id
    </if> 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order_detail_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order_detail_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portal.bean.Criteria" >
    delete from order_detail_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portal.bean.OrderDetailInfo" >
    insert into order_detail_info (id, order_id, good_sort_id, 
      good_sort_name, good_id, good_type, 
      good_name, price, amount, 
      delete_flag, update_date, update_id
      )
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{goodSortId,jdbcType=VARCHAR}, 
      #{goodSortName,jdbcType=VARCHAR}, #{goodId,jdbcType=VARCHAR}, #{goodType,jdbcType=VARCHAR}, 
      #{goodName,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{amount,jdbcType=INTEGER}, 
      #{deleteFlag,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.portal.bean.OrderDetailInfo" >
    insert into order_detail_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="goodSortId != null" >
        good_sort_id,
      </if>
      <if test="goodSortName != null" >
        good_sort_name,
      </if>
      <if test="goodId != null" >
        good_id,
      </if>
      <if test="goodType != null" >
        good_type,
      </if>
      <if test="goodName != null" >
        good_name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="oldOrderId != null" >
        old_order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodSortId != null" >
        #{goodSortId,jdbcType=VARCHAR},
      </if>
      <if test="goodSortName != null" >
        #{goodSortName,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null" >
        #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="goodType != null" >
        #{goodType,jdbcType=VARCHAR},
      </if>
      <if test="goodName != null" >
        #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="oldOrderId != null" >
        #{oldOrderId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.portal.bean.Criteria" resultType="java.lang.Integer" >
    select count(*) from order_detail_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_detail_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodSortId != null" >
        good_sort_id = #{record.goodSortId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodSortName != null" >
        good_sort_name = #{record.goodSortName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodId != null" >
        good_id = #{record.goodId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodType != null" >
        good_type = #{record.goodType,jdbcType=VARCHAR},
      </if>
      <if test="record.goodName != null" >
        good_name = #{record.goodName,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateId != null" >
        update_id = #{record.updateId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderType != null" >
        order_type = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.oldOrderId != null" >
        old_order_id = #{record.oldOrderId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_detail_info
    set id = #{record.id,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      good_sort_id = #{record.goodSortId,jdbcType=VARCHAR},
      good_sort_name = #{record.goodSortName,jdbcType=VARCHAR},
      good_id = #{record.goodId,jdbcType=VARCHAR},
      good_type = #{record.goodType,jdbcType=VARCHAR},
      good_name = #{record.goodName,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      amount = #{record.amount,jdbcType=INTEGER},
      delete_flag = #{record.deleteFlag,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      update_id = #{record.updateId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portal.bean.OrderDetailInfo" >
    update order_detail_info
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodSortId != null" >
        good_sort_id = #{goodSortId,jdbcType=VARCHAR},
      </if>
      <if test="goodSortName != null" >
        good_sort_name = #{goodSortName,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null" >
        good_id = #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="goodType != null" >
        good_type = #{goodType,jdbcType=VARCHAR},
      </if>
      <if test="goodName != null" >
        good_name = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
     <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if> 
     <if test="oldOrderId != null" >
        old_order_id = #{oldOrderId,jdbcType=VARCHAR},
      </if>   
      <if test="oldPrice != null" >
        old_price = #{oldPrice,jdbcType=VARCHAR},
      </if> 
      
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portal.bean.OrderDetailInfo" >
    update order_detail_info
    set order_id = #{orderId,jdbcType=VARCHAR},
      good_sort_id = #{goodSortId,jdbcType=VARCHAR},
      good_sort_name = #{goodSortName,jdbcType=VARCHAR},
      good_id = #{goodId,jdbcType=VARCHAR},
      good_type = #{goodType,jdbcType=VARCHAR},
      good_name = #{goodName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectOrderInfoById" parameterType="map" resultMap="BaseResultMap">
  	SELECT
  		oi.pay_type,
		oi.pay_price,
	  	oi.actual_price,
		oi.Remarks,
		ci.name as customer_name,
		eip.name as phone_staff_name,
		eir.name as receiver_staff_name,
		oi.receiver_staff_id,
		odi.good_sort_id,
		odi.good_sort_name,
		odi.good_id,
		odi.good_type,
		odi.good_name,
		odi.price,
		odi.amount,
		odi.delete_flag,
		DATE_FORMAT(now(), '%Y-%m-%d') AS today,
		gi.unit
	FROM
		order_info oi
	LEFT JOIN order_detail_info odi ON oi.id = odi.order_id
	LEFT JOIN customer_info ci on oi.customer_id = ci.id
	LEFT JOIN employee_info eip on eip.id = oi.phone_staff_id
	LEFT JOIN employee_info eir on eir.id = oi.receiver_staff_id
	left join goods_info gi on gi.id = odi.good_id
	<trim prefix="where" prefixOverrides="and|or" >
      <if test="orderId != null" >
		and oi.id = #{orderId, jdbcType=VARCHAR}
	  </if>
	</trim>
  </select>
</mapper>