<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.dao.ReportTrackDao" >
  <resultMap id="BaseResultMap" type="com.portal.bean.ReportTrack" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="report_date" property="reportDate" jdbcType="TIMESTAMP" />
    <result column="customer_type" property="customerType" jdbcType="VARCHAR" />
    <result column="vistor_count" property="vistorCount" jdbcType="INTEGER" />
    <result column="order_amount" property="orderAmount" jdbcType="INTEGER" />
    <result column="order_price" property="orderPrice" jdbcType="DECIMAL" />
    <result column="new_change_customer" property="newChangeCustomer" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.reportDate != null" >
         and report_date = #{condition.reportDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.customerType != null" >
         and customer_type = #{condition.customerType,jdbcType=VARCHAR}
      </if>
      <if test="condition.vistorCount != null" >
         and vistor_count = #{condition.vistorCount,jdbcType=INTEGER}
      </if>
      <if test="condition.orderAmount != null" >
         and order_amount = #{condition.orderAmount,jdbcType=INTEGER}
      </if>
      <if test="condition.orderPrice != null" >
         and order_price = #{condition.orderPrice,jdbcType=DECIMAL}
      </if>
      <if test="condition.newChangeCustomer != null" >
         and new_change_customer = #{condition.newChangeCustomer,jdbcType=INTEGER}
      </if>
      <if test="condition.createDate != null" >
         and create_date = #{condition.createDate,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.reportDate != null" >
         and report_date = #{example.condition.reportDate,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.customerType != null" >
         and customer_type = #{example.condition.customerType,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.vistorCount != null" >
         and vistor_count = #{example.condition.vistorCount,jdbcType=INTEGER}
      </if>
      <if test="example.condition.orderAmount != null" >
         and order_amount = #{example.condition.orderAmount,jdbcType=INTEGER}
      </if>
      <if test="example.condition.orderPrice != null" >
         and order_price = #{example.condition.orderPrice,jdbcType=DECIMAL}
      </if>
      <if test="example.condition.newChangeCustomer != null" >
         and new_change_customer = #{example.condition.newChangeCustomer,jdbcType=INTEGER}
      </if>
      <if test="example.condition.createDate != null" >
         and create_date = #{example.condition.createDate,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, report_date, customer_type, vistor_count, order_amount, order_price, new_change_customer, 
    create_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portal.bean.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from report_track
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from report_track
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from report_track
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portal.bean.Criteria" >
    delete from report_track
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portal.bean.ReportTrack" >
    insert into report_track (id, report_date, customer_type, 
      vistor_count, order_amount, order_price, 
      new_change_customer, create_date)
    values (#{id,jdbcType=VARCHAR}, #{reportDate,jdbcType=TIMESTAMP}, #{customerType,jdbcType=VARCHAR}, 
      #{vistorCount,jdbcType=INTEGER}, #{orderAmount,jdbcType=INTEGER}, #{orderPrice,jdbcType=DECIMAL}, 
      #{newChangeCustomer,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.portal.bean.ReportTrack" >
    insert into report_track
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="reportDate != null" >
        report_date,
      </if>
      <if test="customerType != null" >
        customer_type,
      </if>
      <if test="vistorCount != null" >
        vistor_count,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
      <if test="orderPrice != null" >
        order_price,
      </if>
      <if test="newChangeCustomer != null" >
        new_change_customer,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null" >
        #{reportDate,jdbcType=TIMESTAMP},
      </if>
      <if test="customerType != null" >
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="vistorCount != null" >
        #{vistorCount,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=INTEGER},
      </if>
      <if test="orderPrice != null" >
        #{orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="newChangeCustomer != null" >
        #{newChangeCustomer,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.portal.bean.Criteria" resultType="java.lang.Integer" >
    select count(*) from report_track
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update report_track
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.reportDate != null" >
        report_date = #{record.reportDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.customerType != null" >
        customer_type = #{record.customerType,jdbcType=VARCHAR},
      </if>
      <if test="record.vistorCount != null" >
        vistor_count = #{record.vistorCount,jdbcType=INTEGER},
      </if>
      <if test="record.orderAmount != null" >
        order_amount = #{record.orderAmount,jdbcType=INTEGER},
      </if>
      <if test="record.orderPrice != null" >
        order_price = #{record.orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.newChangeCustomer != null" >
        new_change_customer = #{record.newChangeCustomer,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update report_track
    set id = #{record.id,jdbcType=VARCHAR},
      report_date = #{record.reportDate,jdbcType=TIMESTAMP},
      customer_type = #{record.customerType,jdbcType=VARCHAR},
      vistor_count = #{record.vistorCount,jdbcType=INTEGER},
      order_amount = #{record.orderAmount,jdbcType=INTEGER},
      order_price = #{record.orderPrice,jdbcType=DECIMAL},
      new_change_customer = #{record.newChangeCustomer,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portal.bean.ReportTrack" >
    update report_track
    <set >
      <if test="reportDate != null" >
        report_date = #{reportDate,jdbcType=TIMESTAMP},
      </if>
      <if test="customerType != null" >
        customer_type = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="vistorCount != null" >
        vistor_count = #{vistorCount,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=INTEGER},
      </if>
      <if test="orderPrice != null" >
        order_price = #{orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="newChangeCustomer != null" >
        new_change_customer = #{newChangeCustomer,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portal.bean.ReportTrack" >
    update report_track
    set report_date = #{reportDate,jdbcType=TIMESTAMP},
      customer_type = #{customerType,jdbcType=VARCHAR},
      vistor_count = #{vistorCount,jdbcType=INTEGER},
      order_amount = #{orderAmount,jdbcType=INTEGER},
      order_price = #{orderPrice,jdbcType=DECIMAL},
      new_change_customer = #{newChangeCustomer,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>