<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.dao.VisitReportInfoDao" >
  <resultMap id="BaseResultMap" type="com.portal.bean.VisitReportInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="report_date" property="reportDate" jdbcType="TIMESTAMP" />
    <result column="receiver_staff_id" property="receiverStaffId" jdbcType="VARCHAR" />
    <result column="receiver_staff_name" property="receiverStaffName" jdbcType="VARCHAR" />
    <result column="receiver_area" property="receiverArea" jdbcType="VARCHAR" />
    <result column="customer_counts" property="customerCounts" jdbcType="INTEGER" />
    <result column="new_counts" property="newCounts" jdbcType="INTEGER" />
    <result column="new_orders" property="newOrders" jdbcType="INTEGER" />
    <result column="new_amounts" property="newAmounts" jdbcType="DECIMAL" />
    <result column="repeat_counts" property="repeatCounts" jdbcType="INTEGER" />
    <result column="repeat_orders" property="repeatOrders" jdbcType="INTEGER" />
    <result column="repeat_amounts" property="repeatAmounts" jdbcType="DECIMAL" />
    <result column="roadshow_counts" property="roadshowCounts" jdbcType="INTEGER" />
    <result column="roadshow_orders" property="roadshowOrders" jdbcType="INTEGER" />
    <result column="roadshow_amounts" property="roadshowAmounts" jdbcType="DECIMAL" />
    <result column="finish_order_counts" property="finishOrderCounts" jdbcType="INTEGER" />
    <result column="finish_orders" property="finishOrders" jdbcType="INTEGER" />
    <result column="finish_amounts" property="finishAmounts" jdbcType="DECIMAL" />
    <result column="locked_counts" property="lockedCounts" jdbcType="INTEGER" />
    <result column="locked_orders" property="lockedOrders" jdbcType="INTEGER" />
    <result column="locked_amounts" property="lockedAmounts" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.reportDate != null" >
         and report_date = #{condition.reportDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.receiverStaffId != null" >
         and receiver_staff_id = #{condition.receiverStaffId,jdbcType=VARCHAR}
      </if>
      <if test="condition.receiverStaffName != null" >
         and receiver_staff_name = #{condition.receiverStaffName,jdbcType=VARCHAR}
      </if>
      <if test="condition.receiverArea != null" >
         and receiver_area = #{condition.receiverArea,jdbcType=VARCHAR}
      </if>
      <if test="condition.customerCounts != null" >
         and customer_counts = #{condition.customerCounts,jdbcType=INTEGER}
      </if>
      <if test="condition.newCounts != null" >
         and new_counts = #{condition.newCounts,jdbcType=INTEGER}
      </if>
      <if test="condition.newOrders != null" >
         and new_orders = #{condition.newOrders,jdbcType=INTEGER}
      </if>
      <if test="condition.newAmounts != null" >
         and new_amounts = #{condition.newAmounts,jdbcType=DECIMAL}
      </if>
      <if test="condition.repeatCounts != null" >
         and repeat_counts = #{condition.repeatCounts,jdbcType=INTEGER}
      </if>
      <if test="condition.repeatOrders != null" >
         and repeat_orders = #{condition.repeatOrders,jdbcType=INTEGER}
      </if>
      <if test="condition.repeatAmounts != null" >
         and repeat_amounts = #{condition.repeatAmounts,jdbcType=DECIMAL}
      </if>
      <if test="condition.roadshowCounts != null" >
         and roadshow_counts = #{condition.roadshowCounts,jdbcType=INTEGER}
      </if>
      <if test="condition.roadshowOrders != null" >
         and roadshow_orders = #{condition.roadshowOrders,jdbcType=INTEGER}
      </if>
      <if test="condition.roadshowAmounts != null" >
         and roadshow_amounts = #{condition.roadshowAmounts,jdbcType=DECIMAL}
      </if>
      <if test="condition.finishOrderCounts != null" >
         and finish_order_counts = #{condition.finishOrderCounts,jdbcType=INTEGER}
      </if>
      <if test="condition.finishOrders != null" >
         and finish_orders = #{condition.finishOrders,jdbcType=INTEGER}
      </if>
      <if test="condition.finishAmounts != null" >
         and finish_amounts = #{condition.finishAmounts,jdbcType=DECIMAL}
      </if>
      <if test="condition.lockedCounts != null" >
         and locked_counts = #{condition.lockedCounts,jdbcType=INTEGER}
      </if>
      <if test="condition.lockedOrders != null" >
         and locked_orders = #{condition.lockedOrders,jdbcType=INTEGER}
      </if>
      <if test="condition.lockedAmounts != null" >
         and locked_amounts = #{condition.lockedAmounts,jdbcType=DECIMAL}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.reportDate != null" >
         and report_date = #{example.condition.reportDate,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.receiverStaffId != null" >
         and receiver_staff_id = #{example.condition.receiverStaffId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.receiverStaffName != null" >
         and receiver_staff_name = #{example.condition.receiverStaffName,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.receiverArea != null" >
         and receiver_area = #{example.condition.receiverArea,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.customerCounts != null" >
         and customer_counts = #{example.condition.customerCounts,jdbcType=INTEGER}
      </if>
      <if test="example.condition.newCounts != null" >
         and new_counts = #{example.condition.newCounts,jdbcType=INTEGER}
      </if>
      <if test="example.condition.newOrders != null" >
         and new_orders = #{example.condition.newOrders,jdbcType=INTEGER}
      </if>
      <if test="example.condition.newAmounts != null" >
         and new_amounts = #{example.condition.newAmounts,jdbcType=DECIMAL}
      </if>
      <if test="example.condition.repeatCounts != null" >
         and repeat_counts = #{example.condition.repeatCounts,jdbcType=INTEGER}
      </if>
      <if test="example.condition.repeatOrders != null" >
         and repeat_orders = #{example.condition.repeatOrders,jdbcType=INTEGER}
      </if>
      <if test="example.condition.repeatAmounts != null" >
         and repeat_amounts = #{example.condition.repeatAmounts,jdbcType=DECIMAL}
      </if>
      <if test="example.condition.roadshowCounts != null" >
         and roadshow_counts = #{example.condition.roadshowCounts,jdbcType=INTEGER}
      </if>
      <if test="example.condition.roadshowOrders != null" >
         and roadshow_orders = #{example.condition.roadshowOrders,jdbcType=INTEGER}
      </if>
      <if test="example.condition.roadshowAmounts != null" >
         and roadshow_amounts = #{example.condition.roadshowAmounts,jdbcType=DECIMAL}
      </if>
      <if test="example.condition.finishOrderCounts != null" >
         and finish_order_counts = #{example.condition.finishOrderCounts,jdbcType=INTEGER}
      </if>
      <if test="example.condition.finishOrders != null" >
         and finish_orders = #{example.condition.finishOrders,jdbcType=INTEGER}
      </if>
      <if test="example.condition.finishAmounts != null" >
         and finish_amounts = #{example.condition.finishAmounts,jdbcType=DECIMAL}
      </if>
      <if test="example.condition.lockedCounts != null" >
         and locked_counts = #{example.condition.lockedCounts,jdbcType=INTEGER}
      </if>
      <if test="example.condition.lockedOrders != null" >
         and locked_orders = #{example.condition.lockedOrders,jdbcType=INTEGER}
      </if>
      <if test="example.condition.lockedAmounts != null" >
         and locked_amounts = #{example.condition.lockedAmounts,jdbcType=DECIMAL}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, report_date, receiver_staff_id, receiver_staff_name, receiver_area, customer_counts, 
    new_counts, new_orders, new_amounts, repeat_counts, repeat_orders, repeat_amounts, 
    roadshow_counts, roadshow_orders, roadshow_amounts, finish_order_counts, finish_orders, 
    finish_amounts, locked_counts, locked_orders, locked_amounts
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portal.bean.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from visit_report_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from visit_report_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from visit_report_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portal.bean.Criteria" >
    delete from visit_report_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portal.bean.VisitReportInfo" >
    insert into visit_report_info (id, report_date, receiver_staff_id, 
      receiver_staff_name, receiver_area, customer_counts, 
      new_counts, new_orders, new_amounts, 
      repeat_counts, repeat_orders, repeat_amounts, 
      roadshow_counts, roadshow_orders, roadshow_amounts, 
      finish_order_counts, finish_orders, finish_amounts, 
      locked_counts, locked_orders, locked_amounts
      )
    values (#{id,jdbcType=VARCHAR}, #{reportDate,jdbcType=TIMESTAMP}, #{receiverStaffId,jdbcType=VARCHAR}, 
      #{receiverStaffName,jdbcType=VARCHAR}, #{receiverArea,jdbcType=VARCHAR}, #{customerCounts,jdbcType=INTEGER}, 
      #{newCounts,jdbcType=INTEGER}, #{newOrders,jdbcType=INTEGER}, #{newAmounts,jdbcType=DECIMAL}, 
      #{repeatCounts,jdbcType=INTEGER}, #{repeatOrders,jdbcType=INTEGER}, #{repeatAmounts,jdbcType=DECIMAL}, 
      #{roadshowCounts,jdbcType=INTEGER}, #{roadshowOrders,jdbcType=INTEGER}, #{roadshowAmounts,jdbcType=DECIMAL}, 
      #{finishOrderCounts,jdbcType=INTEGER}, #{finishOrders,jdbcType=INTEGER}, #{finishAmounts,jdbcType=DECIMAL}, 
      #{lockedCounts,jdbcType=INTEGER}, #{lockedOrders,jdbcType=INTEGER}, #{lockedAmounts,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.portal.bean.VisitReportInfo" >
    insert into visit_report_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="reportDate != null" >
        report_date,
      </if>
      <if test="receiverStaffId != null" >
        receiver_staff_id,
      </if>
      <if test="receiverStaffName != null" >
        receiver_staff_name,
      </if>
      <if test="receiverArea != null" >
        receiver_area,
      </if>
      <if test="customerCounts != null" >
        customer_counts,
      </if>
      <if test="newCounts != null" >
        new_counts,
      </if>
      <if test="newOrders != null" >
        new_orders,
      </if>
      <if test="newAmounts != null" >
        new_amounts,
      </if>
      <if test="repeatCounts != null" >
        repeat_counts,
      </if>
      <if test="repeatOrders != null" >
        repeat_orders,
      </if>
      <if test="repeatAmounts != null" >
        repeat_amounts,
      </if>
      <if test="roadshowCounts != null" >
        roadshow_counts,
      </if>
      <if test="roadshowOrders != null" >
        roadshow_orders,
      </if>
      <if test="roadshowAmounts != null" >
        roadshow_amounts,
      </if>
      <if test="finishOrderCounts != null" >
        finish_order_counts,
      </if>
      <if test="finishOrders != null" >
        finish_orders,
      </if>
      <if test="finishAmounts != null" >
        finish_amounts,
      </if>
      <if test="lockedCounts != null" >
        locked_counts,
      </if>
      <if test="lockedOrders != null" >
        locked_orders,
      </if>
      <if test="lockedAmounts != null" >
        locked_amounts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null" >
        #{reportDate,jdbcType=TIMESTAMP},
      </if>
      <if test="receiverStaffId != null" >
        #{receiverStaffId,jdbcType=VARCHAR},
      </if>
      <if test="receiverStaffName != null" >
        #{receiverStaffName,jdbcType=VARCHAR},
      </if>
      <if test="receiverArea != null" >
        #{receiverArea,jdbcType=VARCHAR},
      </if>
      <if test="customerCounts != null" >
        #{customerCounts,jdbcType=INTEGER},
      </if>
      <if test="newCounts != null" >
        #{newCounts,jdbcType=INTEGER},
      </if>
      <if test="newOrders != null" >
        #{newOrders,jdbcType=INTEGER},
      </if>
      <if test="newAmounts != null" >
        #{newAmounts,jdbcType=DECIMAL},
      </if>
      <if test="repeatCounts != null" >
        #{repeatCounts,jdbcType=INTEGER},
      </if>
      <if test="repeatOrders != null" >
        #{repeatOrders,jdbcType=INTEGER},
      </if>
      <if test="repeatAmounts != null" >
        #{repeatAmounts,jdbcType=DECIMAL},
      </if>
      <if test="roadshowCounts != null" >
        #{roadshowCounts,jdbcType=INTEGER},
      </if>
      <if test="roadshowOrders != null" >
        #{roadshowOrders,jdbcType=INTEGER},
      </if>
      <if test="roadshowAmounts != null" >
        #{roadshowAmounts,jdbcType=DECIMAL},
      </if>
      <if test="finishOrderCounts != null" >
        #{finishOrderCounts,jdbcType=INTEGER},
      </if>
      <if test="finishOrders != null" >
        #{finishOrders,jdbcType=INTEGER},
      </if>
      <if test="finishAmounts != null" >
        #{finishAmounts,jdbcType=DECIMAL},
      </if>
      <if test="lockedCounts != null" >
        #{lockedCounts,jdbcType=INTEGER},
      </if>
      <if test="lockedOrders != null" >
        #{lockedOrders,jdbcType=INTEGER},
      </if>
      <if test="lockedAmounts != null" >
        #{lockedAmounts,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.portal.bean.Criteria" resultType="java.lang.Integer" >
    select count(*) from visit_report_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update visit_report_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.reportDate != null" >
        report_date = #{record.reportDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.receiverStaffId != null" >
        receiver_staff_id = #{record.receiverStaffId,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverStaffName != null" >
        receiver_staff_name = #{record.receiverStaffName,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverArea != null" >
        receiver_area = #{record.receiverArea,jdbcType=VARCHAR},
      </if>
      <if test="record.customerCounts != null" >
        customer_counts = #{record.customerCounts,jdbcType=INTEGER},
      </if>
      <if test="record.newCounts != null" >
        new_counts = #{record.newCounts,jdbcType=INTEGER},
      </if>
      <if test="record.newOrders != null" >
        new_orders = #{record.newOrders,jdbcType=INTEGER},
      </if>
      <if test="record.newAmounts != null" >
        new_amounts = #{record.newAmounts,jdbcType=DECIMAL},
      </if>
      <if test="record.repeatCounts != null" >
        repeat_counts = #{record.repeatCounts,jdbcType=INTEGER},
      </if>
      <if test="record.repeatOrders != null" >
        repeat_orders = #{record.repeatOrders,jdbcType=INTEGER},
      </if>
      <if test="record.repeatAmounts != null" >
        repeat_amounts = #{record.repeatAmounts,jdbcType=DECIMAL},
      </if>
      <if test="record.roadshowCounts != null" >
        roadshow_counts = #{record.roadshowCounts,jdbcType=INTEGER},
      </if>
      <if test="record.roadshowOrders != null" >
        roadshow_orders = #{record.roadshowOrders,jdbcType=INTEGER},
      </if>
      <if test="record.roadshowAmounts != null" >
        roadshow_amounts = #{record.roadshowAmounts,jdbcType=DECIMAL},
      </if>
      <if test="record.finishOrderCounts != null" >
        finish_order_counts = #{record.finishOrderCounts,jdbcType=INTEGER},
      </if>
      <if test="record.finishOrders != null" >
        finish_orders = #{record.finishOrders,jdbcType=INTEGER},
      </if>
      <if test="record.finishAmounts != null" >
        finish_amounts = #{record.finishAmounts,jdbcType=DECIMAL},
      </if>
      <if test="record.lockedCounts != null" >
        locked_counts = #{record.lockedCounts,jdbcType=INTEGER},
      </if>
      <if test="record.lockedOrders != null" >
        locked_orders = #{record.lockedOrders,jdbcType=INTEGER},
      </if>
      <if test="record.lockedAmounts != null" >
        locked_amounts = #{record.lockedAmounts,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update visit_report_info
    set id = #{record.id,jdbcType=VARCHAR},
      report_date = #{record.reportDate,jdbcType=TIMESTAMP},
      receiver_staff_id = #{record.receiverStaffId,jdbcType=VARCHAR},
      receiver_staff_name = #{record.receiverStaffName,jdbcType=VARCHAR},
      receiver_area = #{record.receiverArea,jdbcType=VARCHAR},
      customer_counts = #{record.customerCounts,jdbcType=INTEGER},
      new_counts = #{record.newCounts,jdbcType=INTEGER},
      new_orders = #{record.newOrders,jdbcType=INTEGER},
      new_amounts = #{record.newAmounts,jdbcType=DECIMAL},
      repeat_counts = #{record.repeatCounts,jdbcType=INTEGER},
      repeat_orders = #{record.repeatOrders,jdbcType=INTEGER},
      repeat_amounts = #{record.repeatAmounts,jdbcType=DECIMAL},
      roadshow_counts = #{record.roadshowCounts,jdbcType=INTEGER},
      roadshow_orders = #{record.roadshowOrders,jdbcType=INTEGER},
      roadshow_amounts = #{record.roadshowAmounts,jdbcType=DECIMAL},
      finish_order_counts = #{record.finishOrderCounts,jdbcType=INTEGER},
      finish_orders = #{record.finishOrders,jdbcType=INTEGER},
      finish_amounts = #{record.finishAmounts,jdbcType=DECIMAL},
      locked_counts = #{record.lockedCounts,jdbcType=INTEGER},
      locked_orders = #{record.lockedOrders,jdbcType=INTEGER},
      locked_amounts = #{record.lockedAmounts,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portal.bean.VisitReportInfo" >
    update visit_report_info
    <set >
      <if test="reportDate != null" >
        report_date = #{reportDate,jdbcType=TIMESTAMP},
      </if>
      <if test="receiverStaffId != null" >
        receiver_staff_id = #{receiverStaffId,jdbcType=VARCHAR},
      </if>
      <if test="receiverStaffName != null" >
        receiver_staff_name = #{receiverStaffName,jdbcType=VARCHAR},
      </if>
      <if test="receiverArea != null" >
        receiver_area = #{receiverArea,jdbcType=VARCHAR},
      </if>
      <if test="customerCounts != null" >
        customer_counts = #{customerCounts,jdbcType=INTEGER},
      </if>
      <if test="newCounts != null" >
        new_counts = #{newCounts,jdbcType=INTEGER},
      </if>
      <if test="newOrders != null" >
        new_orders = #{newOrders,jdbcType=INTEGER},
      </if>
      <if test="newAmounts != null" >
        new_amounts = #{newAmounts,jdbcType=DECIMAL},
      </if>
      <if test="repeatCounts != null" >
        repeat_counts = #{repeatCounts,jdbcType=INTEGER},
      </if>
      <if test="repeatOrders != null" >
        repeat_orders = #{repeatOrders,jdbcType=INTEGER},
      </if>
      <if test="repeatAmounts != null" >
        repeat_amounts = #{repeatAmounts,jdbcType=DECIMAL},
      </if>
      <if test="roadshowCounts != null" >
        roadshow_counts = #{roadshowCounts,jdbcType=INTEGER},
      </if>
      <if test="roadshowOrders != null" >
        roadshow_orders = #{roadshowOrders,jdbcType=INTEGER},
      </if>
      <if test="roadshowAmounts != null" >
        roadshow_amounts = #{roadshowAmounts,jdbcType=DECIMAL},
      </if>
      <if test="finishOrderCounts != null" >
        finish_order_counts = #{finishOrderCounts,jdbcType=INTEGER},
      </if>
      <if test="finishOrders != null" >
        finish_orders = #{finishOrders,jdbcType=INTEGER},
      </if>
      <if test="finishAmounts != null" >
        finish_amounts = #{finishAmounts,jdbcType=DECIMAL},
      </if>
      <if test="lockedCounts != null" >
        locked_counts = #{lockedCounts,jdbcType=INTEGER},
      </if>
      <if test="lockedOrders != null" >
        locked_orders = #{lockedOrders,jdbcType=INTEGER},
      </if>
      <if test="lockedAmounts != null" >
        locked_amounts = #{lockedAmounts,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portal.bean.VisitReportInfo" >
    update visit_report_info
    set report_date = #{reportDate,jdbcType=TIMESTAMP},
      receiver_staff_id = #{receiverStaffId,jdbcType=VARCHAR},
      receiver_staff_name = #{receiverStaffName,jdbcType=VARCHAR},
      receiver_area = #{receiverArea,jdbcType=VARCHAR},
      customer_counts = #{customerCounts,jdbcType=INTEGER},
      new_counts = #{newCounts,jdbcType=INTEGER},
      new_orders = #{newOrders,jdbcType=INTEGER},
      new_amounts = #{newAmounts,jdbcType=DECIMAL},
      repeat_counts = #{repeatCounts,jdbcType=INTEGER},
      repeat_orders = #{repeatOrders,jdbcType=INTEGER},
      repeat_amounts = #{repeatAmounts,jdbcType=DECIMAL},
      roadshow_counts = #{roadshowCounts,jdbcType=INTEGER},
      roadshow_orders = #{roadshowOrders,jdbcType=INTEGER},
      roadshow_amounts = #{roadshowAmounts,jdbcType=DECIMAL},
      finish_order_counts = #{finishOrderCounts,jdbcType=INTEGER},
      finish_orders = #{finishOrders,jdbcType=INTEGER},
      finish_amounts = #{finishAmounts,jdbcType=DECIMAL},
      locked_counts = #{lockedCounts,jdbcType=INTEGER},
      locked_orders = #{lockedOrders,jdbcType=INTEGER},
      locked_amounts = #{lockedAmounts,jdbcType=DECIMAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>