<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.dao.extra.CustomerInfoExtraDao" >
  <resultMap id="BaseResultMap" type="com.portal.bean.CustomerInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="season2" property="season2" jdbcType="VARCHAR" />
    <result column="season3" property="season3" jdbcType="VARCHAR" />
    <result column="season4" property="season4" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="phone_staff_id" property="phoneStaffId" jdbcType="VARCHAR" />
    <result column="receiver_staff_id" property="receiverStaffId" jdbcType="VARCHAR" />
    <result column="business_phone" property="businessPhone" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="visit_date" property="visitDate" jdbcType="TIMESTAMP" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="phone2" property="phone2" jdbcType="VARCHAR" />
    <result column="relation_id" property="relationId" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="msn" property="msn" jdbcType="VARCHAR" />
    <result column="site" property="site" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="product" property="product" jdbcType="VARCHAR" />
    <result column="transaction_amount" property="transactionAmount" jdbcType="DECIMAL" />
    <result column="recent_visit_date" property="recentVisitDate" jdbcType="TIMESTAMP" />
    <result column="recent_export_date" property="recentExportDate" jdbcType="TIMESTAMP" />
    <result column="call_dates" property="callDates" jdbcType="VARCHAR" />
    <result column="blacklist_flag" property="blacklistFlag" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_flag" property="updateFlag" jdbcType="VARCHAR" />
    <result column="vip_card" property="vipCard" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="FormResultMap" type="com.portal.bean.result.CustomerSimpleInfoForm" >
  	<result column="type" property="type" jdbcType="VARCHAR" />
  	<!-- 筛选客户类型需要字段内容 -->
    <result column="visit_count" property="visitCount" jdbcType="INTEGER" />
    <result column="out_order_count" property="outOrderCount" jdbcType="INTEGER" />
    <result column="out_prices" property="outPrices" jdbcType="DECIMAL" />
    <result column="out_rate" property="outRate" jdbcType="VARCHAR" />
    <result column="total_perfor_percentage" property="totalPerforPercentage" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, type, season2, season3, season4, name, phone_staff_id, receiver_staff_id, business_phone, receiver_staff_date,
    phone, visit_date, area, phone2, relation_id, qq, msn, site, id_card, product, transaction_amount, call_dates ,gift,
    recent_visit_date, recent_export_date, blacklist_flag, update_date, update_flag
  </sql>
  
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.area != null" >
      	 and c.area = #{condition.area,jdbcType=VARCHAR}
      </if>
      <if test="condition.startDate != null" >
      	 <![CDATA[and o.create_date >= #{condition.startDate,jdbcType=TIMESTAMP}]]>
      </if>
      <if test="condition.endDate != null" >
      	 <![CDATA[and o.create_date <= #{condition.endDate,jdbcType=TIMESTAMP}]]>
      </if>
      <if test="condition.startUpdateDate != null" >
      	 <![CDATA[and c.update_date >= #{condition.startUpdateDate,jdbcType=TIMESTAMP}]]>
      </if>
      <if test="condition.endUpdateDate != null" >
      	 <![CDATA[and c.update_date <= #{condition.endUpdateDate,jdbcType=TIMESTAMP}]]>
      </if>
      <!-- 后台管理查询条件 -->
      <if test="condition.name != null" >
      	 and c.name like CONCAT("%", #{condition.name,jdbcType=VARCHAR}, "%")
      </if>
      <if test="condition.vipCard != null" >
      	 and c.vip_card = #{condition.vipCard,jdbcType=VARCHAR}
      </if>
      <if test="condition.sex != null" >
      	 and c.sex = #{condition.sex,jdbcType=VARCHAR}
      </if>
      <if test="condition.type != null" >
      	 and c.type = #{condition.type,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  
     <update id="updateType" parameterType="com.portal.bean.Criteria" >
    update customer_info 
    set type = #{condition.type,jdbcType=VARCHAR}
    where id =#{condition.cid,jdbcType=VARCHAR};
  </update>
  
   <update id="updateProduct" parameterType="com.portal.bean.Criteria" >
    update customer_info 
    set product = CONCAT(ifnull(product,''),#{condition.product,jdbcType=VARCHAR}), 
    transaction_amount = ifnull(transaction_amount,0) + #{condition.amount,jdbcType=DECIMAL}
    where id =#{condition.cid,jdbcType=VARCHAR};
  </update>
  
   <update id="updateGift" parameterType="com.portal.bean.Criteria" >
    update customer_info 
    set gift = CONCAT(ifnull(gift,''),#{condition.gift,jdbcType=VARCHAR}) 
    where id =#{condition.cid,jdbcType=VARCHAR};
  </update>
  
 <update id="updateReceiverStaff" parameterType="com.portal.bean.Criteria" >
    update customer_info 
    set receiver_staff_name = CONCAT(ifnull(receiver_staff_name,''),#{condition.receptionName,jdbcType=VARCHAR}),
    receiver_staff_date = CONCAT(ifnull(receiver_staff_date,''),#{condition.receptionDate,jdbcType=VARCHAR})  
    where id =#{condition.cid,jdbcType=VARCHAR};
  </update>

  <select id="selectByPhone" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from customer_info
    where phone = #{phone,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据条件获取筛选客户数据 -->
  <select id="getFiltrateCustomers" resultMap="FormResultMap" parameterType="com.portal.bean.Criteria" >
	select 
		'成单' as type,
        (select count(r.customer_id) from reception_info r
			left join customer_info c on r.customer_id = c.id
			left join order_info o on c.id = o.customer_id
			<if test="_parameter != null" >
		      <include refid="Example_Where_Clause" />
		      and c.type = '3'
			  and o.finance_flag = '1'
		    </if>
		) as visit_count,
        count(o.id) as out_order_count,
        sum(ofs.pay_amount_actual) as out_prices,
		concat(
			round(
				count(o.id)/
					(select count(r.customer_id) from reception_info r
						left join customer_info c on r.customer_id = c.id
						left join order_info o on c.id = o.customer_id
						<if test="_parameter != null" >
					      <include refid="Example_Where_Clause" />
					      and c.type = '3'
						  and o.finance_flag = '1'
					    </if>
					)*100,2),'%') as out_rate,
		concat(
			round(
				sum(ofs.pay_amount_actual)/(
										select SUM(of.pay_amount_actual) 
										from order_info oi
										left join order_fund_settlement of on oi.order_number = of.order_number
										<if test="_parameter != null" >
									      <include refid="Example_Where_Clause" />
									      and o.finance_flag = '1'
									    </if>
									    )*100,2),'%') as total_perfor_percentage			
    from customer_info c
    left join order_info o on c.id = o.customer_id
    left join order_fund_settlement ofs on o.order_number = ofs.order_number
	<if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
      and c.type = '3'
	  and o.finance_flag = '1'
    </if>
	UNION
	select 
		'锁定' as type,
	    (select count(r.customer_id) from reception_info r
			left join customer_info c on r.customer_id = c.id
			left join order_info o on c.id = o.customer_id
			<if test="_parameter != null" >
		      <include refid="Example_Where_Clause" />
		      and c.type = '4'
			  and o.finance_flag = '1'
		    </if>
		) as visit_count,
        count(o.id) as out_order_count,
        sum(ofs.pay_amount_actual) as out_prices,
		concat(
			round(
				count(o.id)/
					(select count(r.customer_id) from reception_info r
						left join customer_info c on r.customer_id = c.id
						left join order_info o on c.id = o.customer_id
						<if test="_parameter != null" >
					      <include refid="Example_Where_Clause" />
					      and c.type = '4'
						  and o.finance_flag = '1'
					    </if>
					)*100,2),'%') as out_rate,
		concat(
			round(
				sum(ofs.pay_amount_actual)/(
										select SUM(of.pay_amount_actual) 
										from order_info oi
										left join order_fund_settlement of on oi.order_number = of.order_number
										<if test="_parameter != null" >
									      <include refid="Example_Where_Clause" />
									      and o.finance_flag = '1'
									    </if>
									    )*100,2),'%') as total_perfor_percentage			
    from customer_info c
    left join order_info o on c.id = o.customer_id
    left join order_fund_settlement ofs on o.order_number = ofs.order_number
	<if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
      and c.type = '4'
	  and o.finance_flag = '1'
    </if>
	UNION
	select 
		'说明会' as type,
	    (select count(r.customer_id) from reception_info r
			left join customer_info c on r.customer_id = c.id
			left join order_info o on c.id = o.customer_id
			<if test="_parameter != null" >
		      <include refid="Example_Where_Clause" />
		      and c.type = '2'
			  and o.finance_flag = '1'
		    </if>
		) as visit_count,
        count(o.id) as out_order_count,
        sum(ofs.pay_amount_actual) as out_prices,
		concat(
			round(
				count(o.id)/
					(select count(r.customer_id) from reception_info r
						left join customer_info c on r.customer_id = c.id
						left join order_info o on c.id = o.customer_id
						<if test="_parameter != null" >
					      <include refid="Example_Where_Clause" />
					      and c.type = '2'
						  and o.finance_flag = '1'
					    </if>
					)*100,2),'%') as out_rate,
		concat(
			round(
				sum(ofs.pay_amount_actual)/(
										select SUM(of.pay_amount_actual) 
										from order_info oi
										left join order_fund_settlement of on oi.order_number = of.order_number
										<if test="_parameter != null" >
									      <include refid="Example_Where_Clause" />
									      and o.finance_flag = '1'
									    </if>
									    )*100,2),'%') as total_perfor_percentage			
    from customer_info c
    left join order_info o on c.id = o.customer_id
    left join order_fund_settlement ofs on o.order_number = ofs.order_number
	<if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
      and c.type = '2'
	  and o.finance_flag = '1'
    </if>
	UNION
	select 
		'重复登门' as type,
	    (select count(r.customer_id) from reception_info r
			left join customer_info c on r.customer_id = c.id
			left join order_info o on c.id = o.customer_id
			<if test="_parameter != null" >
		      <include refid="Example_Where_Clause" />
		      and c.type = '1'
			  and o.finance_flag = '1'
		    </if>
		) as visit_count,
        count(o.id) as out_order_count,
        sum(ofs.pay_amount_actual) as out_prices,
		concat(
			round(
				count(o.id)/
					(select count(r.customer_id) from reception_info r
						left join customer_info c on r.customer_id = c.id
						left join order_info o on c.id = o.customer_id
						<if test="_parameter != null" >
					      <include refid="Example_Where_Clause" />
					      and c.type = '1'
						  and o.finance_flag = '1'
					    </if>
					)*100,2),'%') as out_rate,
		concat(
			round(
				sum(ofs.pay_amount_actual)/(
										select SUM(of.pay_amount_actual) 
										from order_info oi
										left join order_fund_settlement of on oi.order_number = of.order_number
										<if test="_parameter != null" >
									      <include refid="Example_Where_Clause" />
									      and o.finance_flag = '1'
									    </if>
									    )*100,2),'%') as total_perfor_percentage
    from customer_info c
    left join order_info o on c.id = o.customer_id
    left join order_fund_settlement ofs on o.order_number = ofs.order_number
	<if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
      and c.type = '1'
	  and o.finance_flag = '1'
    </if>
	UNION
	select 
		'转介绍' as type,
	    (select count(r.customer_id) from reception_info r
			left join customer_info c on r.customer_id = c.id
			left join order_info o on c.id = o.customer_id
			<if test="_parameter != null" >
		      <include refid="Example_Where_Clause" />
		      and c.type = '5'
			  and o.finance_flag = '1'
		    </if>
		) as visit_count,
        count(o.id) as out_order_count,
        sum(ofs.pay_amount_actual) as out_prices,
		concat(
			round(
				count(o.id)/
					(select count(r.customer_id) from reception_info r
						left join customer_info c on r.customer_id = c.id
						left join order_info o on c.id = o.customer_id
						<if test="_parameter != null" >
					      <include refid="Example_Where_Clause" />
					      and c.type = '5'
						  and o.finance_flag = '1'
					    </if>
					)*100,2),'%') as out_rate,
		concat(
			round(
				sum(ofs.pay_amount_actual)/(
										select SUM(of.pay_amount_actual) 
										from order_info oi
										left join order_fund_settlement of on oi.order_number = of.order_number
										<if test="_parameter != null" >
									      <include refid="Example_Where_Clause" />
									      and o.finance_flag = '1'
									    </if>
									    )*100,2),'%') as total_perfor_percentage
    from customer_info c
    left join order_info o on c.id = o.customer_id
    left join order_fund_settlement ofs on o.order_number = ofs.order_number
	<if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
      and c.type = '5'
	  and o.finance_flag = '1'
    </if>
  </select>
  
  <!-- 根据条件查询对应客户数量 -->
  <select id="getCustomerCounts" parameterType="com.portal.bean.Criteria" resultType="java.util.Map">
  	select count(1) as total_counts,
	  	(select count(1) from customer_info c
	  	<if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
	  	and c.area = '1') as dl_counts,
	  	(select count(1) from customer_info c
	  	<if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
	    and c.area = '0') as sy_counts
	 from customer_info c
	 <if test="_parameter != null" >
		<include refid="Example_Where_Clause" />
     </if>
  </select>
  
  <!-- 获取所有各种分类对应的客户数量 -->
  <select id="getAllCategoryCustomer" parameterType="com.portal.bean.Criteria" resultType="java.util.Map">
  	select 
  		distinct 
	  	(select count(1) as locked_counts from customer_info c
		<if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
		and c.type = '4') as '锁定',
		(select count(1) as locked_counts from customer_info c
		<if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
		and c.type = '3') as '成单',
		(select count(1) as locked_counts from customer_info c
		<if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
		and c.type = '5') as '转介绍',
		(select count(1) as locked_counts from customer_info c
		<if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
		and c.type = '2') as '说明会',
		(select count(1) as locked_counts from customer_info c
		<if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
		and c.type = '1') as '重复'
	from customer_info
  </select>
  
  <select id="selectByConditions" resultMap="BaseResultMap" parameterType="com.portal.bean.Criteria" >
    select
        c.id,
        c.`name`,
		(CASE c.area WHEN '1' THEN '大连' WHEN '0' THEN '沈阳' END) as area,
        (CASE c.sex WHEN '1' THEN '男' WHEN '0' THEN '女' END) as sex,
		c.type,
		c.vip_card
    from customer_info c
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  
  <select id="countByConditions" parameterType="com.portal.bean.Criteria" resultType="java.lang.Integer" >
    select count(1) from customer_info c
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <!-- 获取所有客户信息(主键、电话、拨打时间) -->
  <select id="getAllCustomer" resultMap="BaseResultMap" >
    select id, phone, call_dates from customer_info
  </select>
  
  <!-- 插入空白用户 -->
  <insert id="insertEmptyCustomer" parameterType="java.util.Map" >
  	call importEmptyCustomer(#{tellPhone,jdbcType=VARCHAR}, #{callTime,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR});
  </insert>
  
</mapper>