<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.dao.extra.EmployeeInfoExtraDao" >

  <resultMap id="BaseResultMap" type="com.portal.bean.result.EmployeeInfoForm" >
  	<id column="id" property="id" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="VARCHAR" />
    <result column="organization_id" property="organizationId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="staff_number" property="staffNumber" jdbcType="VARCHAR" />
    <result column="position_type" property="positionType" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="photo_path" property="photoPath" jdbcType="VARCHAR" />
    <result column="reception_flag" property="receptionFlag" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="VARCHAR" />
    <result column="role_ids" property="roleIds" jdbcType="VARCHAR" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.groupId != null" >
         and e.group_id = #{condition.groupId,jdbcType=VARCHAR}
      </if>
      <if test="condition.departmentId != null" >
         and e.department_id = #{condition.departmentId,jdbcType=VARCHAR}
      </if>
      <if test="condition.organizationId != null" >
         and e.organization_id = #{condition.organizationId,jdbcType=VARCHAR}
      </if>
      <if test="condition.name != null" >
         and e.name like CONCAT("%", #{condition.name,jdbcType=VARCHAR}, "%")
      </if>
      <if test="condition.sex != null" >
         and e.sex = #{condition.sex,jdbcType=VARCHAR}
      </if>
      <if test="condition.startCreateDate != null" >
         <![CDATA[and e.create_date >= #{condition.startCreateDate,jdbcType=VARCHAR}]]>
      </if>
      <if test="condition.endCreateDate != null" >
         <![CDATA[and e.create_date <= #{condition.endCreateDate,jdbcType=VARCHAR}]]>
      </if>
      <if test="condition.roleIds != null" >
         and e.role_ids like CONCAT("%", #{condition.roleIds,jdbcType=VARCHAR}, "%")
      </if>
      
      <!-- 定时器执行查询条件 -->
      <if test="condition.employeeId != null" >
         and e.id = #{condition.employeeId,jdbcType=VARCHAR}
      </if>
      <if test="condition.deleteFlag != null" >
         and e.delete_flag = #{condition.deleteFlag,jdbcType=VARCHAR}
      </if>
      <if test="condition.startTime != null" >
         <![CDATA[and o.create_date >= #{condition.startTime,jdbcType=VARCHAR}]]>
      </if>
      <if test="condition.endTime != null" >
         <![CDATA[and o.create_date <= #{condition.endTime,jdbcType=VARCHAR}]]>
      </if>
      
    </trim>
  </sql>

  <sql id="Base_Column_List" >
    id, group_id, department_id, organization_id, name, sex, staff_number, position_type, 
    login_name, password, photo_path, reception_flag, status, create_date, delete_flag, 
    role_ids
  </sql>
  
  <select id="selectByConditions" resultMap="BaseResultMap" parameterType="com.portal.bean.Criteria" >
    select
        e.id,
        e.`name`,
        (CASE e.sex WHEN '1' THEN '男' WHEN '0' THEN '女' END) as sex,
        e.login_name,
        e.department_id,
        (select g.`name` from group_info g where g.id = e.department_id) as department_name,
        e.group_id,
        (select g.`name` from group_info g where g.id = e.group_id) as group_name,
        (CASE e.position_type WHEN '1' THEN "客服" WHEN '2' THEN "接待" END) as position_type,
        (CASE e.reception_flag WHEN '0' THEN "未接待" WHEN '1' THEN "正在接待" END) as reception_flag,
        e.create_date
    from employee_info e
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  
  <select id="selectByExamples" resultMap="BaseResultMap" parameterType="com.portal.bean.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from employee_info e
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  
  <select id="countByConditions" parameterType="com.portal.bean.Criteria" resultType="java.lang.Integer" >
    select count(1) from employee_info e
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <!-- 统计每周对接业绩根据客服ID获取接待名称 -->
  <select id="getReceiveNameByPhoneId" parameterType="com.portal.bean.Criteria" resultType="java.util.Map" >
    select 
    	DISTINCT 
		ei.id as id,
		ei.`name` as name 
    from employee_info ei 
    left join order_info o on ei.id = o.receiver_staff_id 
    inner join employee_info e on o.phone_staff_id = e.id 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
</mapper>