<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.dao.extra.GoodsDao" >
  <resultMap id="BaseResultMap" type="com.portal.bean.result.OrderInfoForm" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sort_id" property="sortId" jdbcType="VARCHAR" />
    <result column="sort_name" property="sortName" jdbcType="VARCHAR" />
    <result column="sort_description" property="sortDescription" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="trusteeship_flag" property="trusteeshipFlag" jdbcType="VARCHAR" />
    <result column="repurchase_flag" property="repurchaseFlag" jdbcType="VARCHAR" />
    <result column="repurchase_info" property="repurchaseInfo" jdbcType="VARCHAR" />
    <result column="repurchase_starttime" property="repurchaseStarttime" jdbcType="TIMESTAMP" />
    <result column="repurchase_endtime" property="repurchaseEndtime" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="create_userid" property="createUserid" jdbcType="VARCHAR" />
    <result column="update_userid" property="updateUserid" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.sortId != null" >
         and sort_id = #{condition.sortId,jdbcType=VARCHAR}
      </if>
      <if test="condition.type != null" >
         and type = #{condition.type,jdbcType=VARCHAR}
      </if>
      <if test="condition.code != null" >
         and code = #{condition.code,jdbcType=VARCHAR}
      </if>
      <if test="condition.name != null" >
         and name = #{condition.name,jdbcType=VARCHAR}
      </if>
      <if test="condition.amount != null" >
         and amount = #{condition.amount,jdbcType=INTEGER}
      </if>
      <if test="condition.moreAmount != null" >
         and amount > #{condition.moreAmount,jdbcType=INTEGER}
      </if>
      <if test="condition.trusteeshipFlag != null" >
         and trusteeship_flag = #{condition.trusteeshipFlag,jdbcType=VARCHAR}
      </if>
      <if test="condition.repurchaseFlag != null" >
         and repurchase_flag = #{condition.repurchaseFlag,jdbcType=VARCHAR}
      </if>
      <if test="condition.repurchaseInfo != null" >
         and repurchase_info = #{condition.repurchaseInfo,jdbcType=VARCHAR}
      </if>
      <if test="condition.repurchaseStarttime != null" >
         and repurchase_starttime = #{condition.repurchaseStarttime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.repurchaseEndtime != null" >
         and repurchase_endtime = #{condition.repurchaseEndtime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.createDate != null" >
         and create_date = #{condition.createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.updateDate != null" >
         and update_date = #{condition.updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.createUserid != null" >
         and create_userid = #{condition.createUserid,jdbcType=VARCHAR}
      </if>
      <if test="condition.updateUserid != null" >
         and update_userid = #{condition.updateUserid,jdbcType=VARCHAR}
      </if>
      <if test="condition.deleteFlag != null" >
         and delete_flag = #{condition.deleteFlag,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.sortId != null" >
         and sort_id = #{example.condition.sortId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.type != null" >
         and type = #{example.condition.type,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.code != null" >
         and code = #{example.condition.code,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.name != null" >
         and name = #{example.condition.name,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.amount != null" >
         and amount = #{example.condition.amount,jdbcType=INTEGER}
      </if>
      <if test="example.condition.trusteeshipFlag != null" >
         and trusteeship_flag = #{example.condition.trusteeshipFlag,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.repurchaseFlag != null" >
         and repurchase_flag = #{example.condition.repurchaseFlag,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.repurchaseInfo != null" >
         and repurchase_info = #{example.condition.repurchaseInfo,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.repurchaseStarttime != null" >
         and repurchase_starttime = #{example.condition.repurchaseStarttime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.repurchaseEndtime != null" >
         and repurchase_endtime = #{example.condition.repurchaseEndtime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.createDate != null" >
         and create_date = #{example.condition.createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.updateDate != null" >
         and update_date = #{example.condition.updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.createUserid != null" >
         and create_userid = #{example.condition.createUserid,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.updateUserid != null" >
         and update_userid = #{example.condition.updateUserid,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.deleteFlag != null" >
         and delete_flag = #{example.condition.deleteFlag,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, sort_id, type, code, name, amount, trusteeship_flag, repurchase_flag, repurchase_info, 
    repurchase_starttime, repurchase_endtime, create_date, update_date, create_userid, 
    update_userid, delete_flag
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
	i.id, 
	i.sort_id, 
	i.type, 
	i.code, 
	i.name, 
	i.amount, 
	i.trusteeship_flag, 
	i.repurchase_flag, 
	i.repurchase_info, 
	i.repurchase_starttime, 
	i.repurchase_endtime, 
	i.create_date, 
	i.update_date, 
	i.create_userid, 
	i.update_userid, 
	i.delete_flag,
	s.name as sort_name,
	s.description as sort_description
	from goods_info i left join goods_sort s on s.id=i.sort_id
    where id = #{id,jdbcType=VARCHAR}
  </select>

</mapper>