<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.dao.extra.OrderInfoExtraDao" >
  <resultMap id="BaseResultMap" type="com.portal.bean.result.OrderInfoForm" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="phone_staff_id" property="phoneStaffId" jdbcType="VARCHAR" />
    <result column="phone_staff_name" property="phoneStaffName" jdbcType="VARCHAR" /> 
    <result column="receiver_staff_id" property="receiverStaffId" jdbcType="VARCHAR" />
    <result column="receiver_staff_name" property="receiverStaffName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="pay_price" property="payPrice" jdbcType="DECIMAL" />
    <result column="actual_price" property="actualPrice" jdbcType="DECIMAL" />
    <result column="finance_flag" property="financeFlag" jdbcType="VARCHAR" />
    <result column="finance_type" property="financeType" jdbcType="VARCHAR" />
    <result column="finance_operator_id" property="financeOperatorId" jdbcType="VARCHAR" />
    <result column="finance_date" property="financeDate" jdbcType="TIMESTAMP" />
    <result column="warehouse_flag" property="warehouseFlag" jdbcType="VARCHAR" />
    <result column="warehouse_operator_id" property="warehouseOperatorId" jdbcType="VARCHAR" />
    <result column="warehouse_date" property="warehouseDate" jdbcType="TIMESTAMP" />
    <result column="culture_flag" property="cultureFlag" jdbcType="VARCHAR" />
    <result column="culture_operator_id" property="cultureOperatorId" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="culture_date" property="cultureDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="FormResultMap" type="com.portal.bean.result.OrderInfoForm" >
    <result column="staff_id" property="staffId" jdbcType="VARCHAR" />
    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
    <result column="performance" property="performance" jdbcType="DECIMAL" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.orderNumber != null" >
         and order_number = #{condition.orderNumber,jdbcType=VARCHAR}
      </if>
      <if test="condition.customerId != null" >
         and customer_id = #{condition.customerId,jdbcType=VARCHAR}
      </if>
      <if test="condition.phoneStaffId != null" >
         and phone_staff_id = #{condition.phoneStaffId,jdbcType=VARCHAR}
      </if>
      <if test="condition.receiverStaffId != null" >
         and receiver_staff_id = #{condition.receiverStaffId,jdbcType=VARCHAR}
      </if>
       <if test="condition.staffName != null" >
         and receiver_staff_name = #{condition.staffName,jdbcType=VARCHAR}
      </if>
      <if test="condition.status != null" >
         and status = #{condition.status,jdbcType=VARCHAR}
      </if>
      <if test="condition.orderType != null" >
         and order_type = #{condition.orderType,jdbcType=VARCHAR}
      </if>
      <if test="condition.payType != null" >
         and pay_type = #{condition.payType,jdbcType=VARCHAR}
      </if>
      <if test="condition.payPrice != null" >
         and pay_price = #{condition.payPrice,jdbcType=DECIMAL}
      </if>
      <if test="condition.actualPrice != null" >
         and actual_price = #{condition.actualPrice,jdbcType=DECIMAL}
      </if>
      <if test="condition.financeFlag != null" >
         and finance_flag = #{condition.financeFlag,jdbcType=VARCHAR}
      </if>
      <if test="condition.financeType != null" >
         and finance_type = #{condition.financeType,jdbcType=VARCHAR}
      </if>
      <if test="condition.financeOperatorId != null" >
         and finance_operator_id = #{condition.financeOperatorId,jdbcType=VARCHAR}
      </if>
      <if test="condition.financeDate != null" >
         and finance_date = #{condition.financeDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.warehouseFlag != null" >
         and warehouse_flag = #{condition.warehouseFlag,jdbcType=VARCHAR}
      </if>
      <if test="condition.warehouseOperatorId != null" >
         and warehouse_operator_id = #{condition.warehouseOperatorId,jdbcType=VARCHAR}
      </if>
      <if test="condition.warehouseDate != null" >
         and warehouse_date = #{condition.warehouseDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.cultureFlag != null" >
         and culture_flag = #{condition.cultureFlag,jdbcType=VARCHAR}
      </if>
      <if test="condition.cultureOperatorId != null" >
         and culture_operator_id = #{condition.cultureOperatorId,jdbcType=VARCHAR}
      </if>
      <if test="condition.cultureDate != null" >
         and culture_date = #{condition.cultureDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.createDate != null" >
         and create_date = #{condition.createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.createId != null" >
         and create_id = #{condition.createId,jdbcType=VARCHAR}
      </if>
      <if test="condition.updateDate != null" >
         and update_date = #{condition.updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.updateId != null" >
         and update_id = #{condition.updateId,jdbcType=VARCHAR}
      </if>
      <if test="condition.deleteFlag != null" >
         and delete_flag = #{condition.deleteFlag,jdbcType=VARCHAR}
      </if>
      
      <if test="condition.lprice != null" >
      	 <![CDATA[and actual_price >= #{condition.lprice,jdbcType=TIMESTAMP}]]>
      </if>
      <if test="condition.hprice != null" >
      	 <![CDATA[and actual_price <= #{condition.hprice,jdbcType=TIMESTAMP}]]>
      </if>
      
      <if test="condition.startDate != null" >
      	 <![CDATA[and o.create_date >= #{condition.startDate,jdbcType=TIMESTAMP}]]>
      </if>
      <if test="condition.endDate != null" >
      	 <![CDATA[and o.create_date <= #{condition.endDate,jdbcType=TIMESTAMP}]]>
      </if>
      <if test="condition.staffName != null" >
         and e.`name` like CONCAT("%", #{condition.staffName,jdbcType=VARCHAR} ,"%")
      </if>
      <if test="condition.area != null" >
         and c.area = #{condition.area,jdbcType=VARCHAR}
      </if>
      <if test="condition.positionType != null" >
         and e.position_type = #{condition.positionType,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  
  <sql id="Base_Column_List" >
    id, order_number, customer_id, phone_staff_id, receiver_staff_id, status, order_type, 
    pay_type, pay_price, actual_price, finance_flag, finance_type, finance_operator_id, 
    finance_date, warehouse_flag, warehouse_operator_id, warehouse_date, culture_flag, 
    culture_operator_id, culture_date, create_date, create_id, update_date, update_id, 
    delete_flag
  </sql>

  
    <select id="selectByExample4Page" resultMap="BaseResultMap" parameterType="com.portal.bean.Criteria" >
	    select
	    (select e.`name` from employee_info e where e.id = phone_staff_id) as phone_staff_name,
        (select e.`name` from employee_info e where e.id = receiver_staff_id) as receiver_staff_name,
	    <include refid="Base_Column_List" />
	    from order_info
	    <if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
	  	<if test="condition.typeList != null" >
          and order_type in 
<!--           <foreach item="typeList" index="index" collection="array"   
                        open="(" separator="," close=")">  
                       #{typeList}  
               </foreach>  -->
     	</if>
	    <if test="orderByClause != null" >
	      order by ${orderByClause}
	    </if>
	    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  
  
  <!-- 根据条件查询对应业绩 -->
  <select id="getClinchPerfors" parameterType="com.portal.bean.Criteria" resultType="java.util.Map">
  	select sum(o.actual_price) as total_amounts,
		(select sum(o.actual_price) 
			from order_info o
			left join customer_info c on o.customer_id = c.id
			<if test="_parameter != null" >
		      <include refid="Example_Where_Clause" />
		    </if>
			and c.area = '1' and o.status = '4' or o.pay_type = '1') as dl_amounts,
		(select sum(o.actual_price) 
			from order_info o
			left join customer_info c on o.customer_id = c.id
			<if test="_parameter != null" >
		      <include refid="Example_Where_Clause" />
		    </if>
			and c.area = '0' and o.status = '4' or o.pay_type = '1') as sy_amounts
	from order_info o
	left join customer_info c on o.customer_id = c.id
	<if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
	and o.status = '4' or o.pay_type = '1'
  </select>
  
  <!-- 获取星期（周）对应的业绩 -->
  <select id="getWeekClinchPerfors" parameterType="java.lang.String" resultType="java.util.Map">
  	select distinct
  		(select DATE_ADD(#{startDate},INTERVAL +0 day)) as Monday_Day,
		(select sum(o.actual_price) from order_info o left join customer_info c on o.customer_id = c.id where o.create_date like CONCAT("%", DATE_ADD(#{startDate},INTERVAL +0 day), "%") and c.area = #{area} and o.status = '4' or o.pay_type = '1') as Monday,
		(select DATE_ADD(#{startDate},INTERVAL +1 day)) as Tuesday_Day,
		(select sum(o.actual_price) from order_info o left join customer_info c on o.customer_id = c.id where o.create_date like CONCAT("%", DATE_ADD(#{startDate},INTERVAL +1 day), "%") and c.area = #{area} and o.status = '4' or o.pay_type = '1') as Tuesday,
		(select DATE_ADD(#{startDate},INTERVAL +2 day)) as Wednesday_Day,
		(select sum(o.actual_price) from order_info o left join customer_info c on o.customer_id = c.id where o.create_date like CONCAT("%", DATE_ADD(#{startDate},INTERVAL +2 day), "%") and c.area = #{area} and o.status = '4' or o.pay_type = '1') as Wednesday,
		(select DATE_ADD(#{startDate},INTERVAL +3 day)) as Thursday_Day,
		(select sum(o.actual_price) from order_info o left join customer_info c on o.customer_id = c.id where o.create_date like CONCAT("%", DATE_ADD(#{startDate},INTERVAL +3 day), "%") and c.area = #{area} and o.status = '4' or o.pay_type = '1') as Thursday,
		(select DATE_ADD(#{startDate},INTERVAL +4 day)) as Friday_Day,
		(select sum(o.actual_price) from order_info o left join customer_info c on o.customer_id = c.id where o.create_date like CONCAT("%", DATE_ADD(#{startDate},INTERVAL +4 day), "%") and c.area = #{area} and o.status = '4' or o.pay_type = '1') as Friday,
		(select DATE_ADD(#{startDate},INTERVAL +5 day)) as Saturday_Day,
		(select sum(o.actual_price) from order_info o left join customer_info c on o.customer_id = c.id where o.create_date like CONCAT("%", DATE_ADD(#{startDate},INTERVAL +5 day), "%") and c.area = #{area} and o.status = '4' or o.pay_type = '1') as Saturday,
		(select DATE_ADD(#{startDate},INTERVAL +6 day)) as Sunday_Day,
		(select sum(o.actual_price) from order_info o left join customer_info c on o.customer_id = c.id where o.create_date like CONCAT("%", DATE_ADD(#{startDate},INTERVAL +6 day), "%") and c.area = #{area} and o.status = '4' or o.pay_type = '1') as Sunday
	from order_info
  </select>
  
  <!-- 根据条件查询员工名称按照员工名称分组 -->
  <select id="getEmployeeInfos" parameterType="com.portal.bean.Criteria" resultType="java.lang.String">
  	select e.`name` from employee_info e 
  	where 1=1
    	<if test="condition.area != null" >
        	and e.organization_id = #{condition.area,jdbcType=VARCHAR}
     	</if>
		<if test="condition.positionType != null" >
       		and e.position_type = #{condition.positionType,jdbcType=VARCHAR}
     	</if>
  	GROUP BY e.`name`
  </select>
  
  <!-- 获取员工业绩数据 -->
  <select id="getStaffPerfors" parameterType="com.portal.bean.Criteria" resultMap="FormResultMap">
  	select a.staff_id, a.staff_name, a.performance from (
		select 
	  		e.id as staff_id,
	  		e.`name` as staff_name,
	  		sum(o.actual_price) as performance
		from employee_info e
		left join order_info o on e.id = <if test="condition.conditionId != null" >${condition.conditionId}</if>
		left join customer_info c on o.customer_id = c.id
		<if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
		and o.status = '4' or o.pay_type = '1'
		group by e.`name`
		
		UNION
	        
	    select 
	    	e.id as staff_id, e.`name` as staff_name, 0 as performance
	    from employee_info e
	    where 1=1
		    <if test="condition.area != null" >
	         and e.organization_id = #{condition.area,jdbcType=VARCHAR}
	      	</if>
			<if test="condition.positionType != null" >
	         and e.position_type = #{condition.positionType,jdbcType=VARCHAR}
	      	</if>
	    group by e.`name`
	) a group by a.staff_name
  </select>
  
</mapper>