<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.dao.extra.OrderInfoExtraDao" >
  <resultMap id="BaseResultMap" type="com.portal.bean.result.OrderInfoForm" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="phone_staff_id" property="phoneStaffId" jdbcType="VARCHAR" />
    <result column="phone_staff_name" property="phoneStaffName" jdbcType="VARCHAR" /> 
    <result column="receiver_staff_id" property="receiverStaffId" jdbcType="VARCHAR" />
    <result column="receiver_staff_name" property="receiverStaffName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="pay_price" property="payPrice" jdbcType="DECIMAL" />
    <result column="actual_price" property="actualPrice" jdbcType="DECIMAL" />
    <result column="finance_flag" property="financeFlag" jdbcType="VARCHAR" />
    <result column="finance_type" property="financeType" jdbcType="VARCHAR" />
    <result column="finance_operator_id" property="financeOperatorId" jdbcType="VARCHAR" />
    <result column="finance_date" property="financeDate" jdbcType="TIMESTAMP" />
    <result column="warehouse_flag" property="warehouseFlag" jdbcType="VARCHAR" />
    <result column="warehouse_operator_id" property="warehouseOperatorId" jdbcType="VARCHAR" />
    <result column="warehouse_date" property="warehouseDate" jdbcType="TIMESTAMP" />
    <result column="culture_flag" property="cultureFlag" jdbcType="VARCHAR" />
    <result column="culture_operator_id" property="cultureOperatorId" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="culture_date" property="cultureDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="VARCHAR" />
    <result column="performance" property="performance" jdbcType="DECIMAL" />
    <result column="income" property="income" jdbcType="DECIMAL" />
  </resultMap>
  
    <resultMap id="BaseResultMapNew" type="com.portal.bean.result.OrderInfoFormNew" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="phone_staff_id" property="phoneStaffId" jdbcType="VARCHAR" />
    <result column="phone_staff_name" property="phoneStaffName" jdbcType="VARCHAR" /> 
    <result column="receiver_staff_id" property="receiverStaffId" jdbcType="VARCHAR" />
    <result column="receiver_staff_name" property="receiverStaffName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="pay_price" property="payPrice" jdbcType="DECIMAL" />
    <result column="actual_price" property="actualPrice" jdbcType="DECIMAL" />
    <result column="finance_flag" property="financeFlag" jdbcType="VARCHAR" />
    <result column="finance_type" property="financeType" jdbcType="VARCHAR" />
    <result column="finance_operator_id" property="financeOperatorId" jdbcType="VARCHAR" />
    <result column="finance_date" property="financeDate" jdbcType="TIMESTAMP" />
    <result column="warehouse_flag" property="warehouseFlag" jdbcType="VARCHAR" />
    <result column="warehouse_operator_id" property="warehouseOperatorId" jdbcType="VARCHAR" />
    <result column="warehouse_date" property="warehouseDate" jdbcType="TIMESTAMP" />
    <result column="culture_flag" property="cultureFlag" jdbcType="VARCHAR" />
    <result column="culture_operator_id" property="cultureOperatorId" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="culture_date" property="cultureDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="VARCHAR" />
    <result column="performance" property="performance" jdbcType="DECIMAL" />
    <result column="good_sort_id" property="goodSortId" jdbcType="VARCHAR" />
    <result column="good_sort_name" property="goodSortName" jdbcType="VARCHAR" />
    <result column="good_id" property="goodId" jdbcType="VARCHAR" />
    <result column="good_type" property="goodType" jdbcType="VARCHAR" />
    <result column="good_name" property="goodName" jdbcType="VARCHAR" />
     <result column="create_date_string" property="createDateString" jdbcType="VARCHAR" />  
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="repurchase_price" property="repurchasePrice" jdbcType="DECIMAL" />    
    <result column="amount" property="amount" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="FormResultMap" type="com.portal.bean.result.OrderInfoForm" >
    <result column="staff_id" property="staffId" jdbcType="VARCHAR" />
    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
    <result column="performance" property="performance" jdbcType="DECIMAL" />
  </resultMap>
  
  <!-- 销售日报表-获取销售商品信息 -->
  <resultMap id="SellGoodsResultMap" type="com.portal.bean.result.OrderDetailInfoForm" >
    <result column="good_name" property="goodName" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="total_price" property="totalPrice" jdbcType="VARCHAR" />
    <result column="remarks" property="viewRemark" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.orderNumber != null" >
         and order_number = #{condition.orderNumber,jdbcType=VARCHAR}
      </if>
      <if test="condition.customerId != null" >
         and customer_id = #{condition.customerId,jdbcType=VARCHAR}
      </if>
      <if test="condition.phoneStaffId != null" >
         and phone_staff_id = #{condition.phoneStaffId,jdbcType=VARCHAR}
      </if>
      <if test="condition.receiverStaffId != null" >
         and receiver_staff_id = #{condition.receiverStaffId,jdbcType=VARCHAR}
      </if>
       <if test="condition.staffName != null" >
         and receiver_staff_name = #{condition.staffName,jdbcType=VARCHAR}
      </if>
      <if test="condition.status != null" >
         and status = #{condition.status,jdbcType=VARCHAR}
      </if>
      <if test="condition.orderType != null" >
         and order_type = #{condition.orderType,jdbcType=VARCHAR}
      </if>
      <if test="condition.payType != null" >
         and pay_type = #{condition.payType,jdbcType=VARCHAR}
      </if>
      <if test="condition.payPrice != null" >
         and pay_price = #{condition.payPrice,jdbcType=DECIMAL}
      </if>
      <if test="condition.actualPrice != null" >
         and actual_price = #{condition.actualPrice,jdbcType=DECIMAL}
      </if>
      <if test="condition.financeFlag != null" >
         and finance_flag = #{condition.financeFlag,jdbcType=VARCHAR}
      </if>
      <if test="condition.financeType != null" >
         and finance_type = #{condition.financeType,jdbcType=VARCHAR}
      </if>
      <if test="condition.financeOperatorId != null" >
         and finance_operator_id = #{condition.financeOperatorId,jdbcType=VARCHAR}
      </if>
      <if test="condition.financeDate != null" >
         and finance_date = #{condition.financeDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.warehouseFlag != null" >
         and warehouse_flag = #{condition.warehouseFlag,jdbcType=VARCHAR}
      </if>
      <if test="condition.warehouseOperatorId != null" >
         and warehouse_operator_id = #{condition.warehouseOperatorId,jdbcType=VARCHAR}
      </if>
      <if test="condition.warehouseDate != null" >
         and warehouse_date = #{condition.warehouseDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.cultureFlag != null" >
         and culture_flag = #{condition.cultureFlag,jdbcType=VARCHAR}
      </if>
      <if test="condition.cultureOperatorId != null" >
         and culture_operator_id = #{condition.cultureOperatorId,jdbcType=VARCHAR}
      </if>
      <if test="condition.cultureDate != null" >
         and culture_date = #{condition.cultureDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.createDate != null" >
         and create_date = #{condition.createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.createId != null" >
         and create_id = #{condition.createId,jdbcType=VARCHAR}
      </if>
      <if test="condition.updateDate != null" >
         and update_date = #{condition.updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.updateId != null" >
         and update_id = #{condition.updateId,jdbcType=VARCHAR}
      </if>
      <if test="condition.deleteFlag != null" >
         and delete_flag = #{condition.deleteFlag,jdbcType=VARCHAR}
      </if>
      <!-- 获取客户的回购信息   5待审批  6回购待确认-->
      <if test="condition.repurchaseFlag != null" >
         and status in ('5','6')
      </if>
      
      <if test="condition.lprice != null" >
      	 <![CDATA[and actual_price >= #{condition.lprice,jdbcType=TIMESTAMP}]]>
      </if>
      <if test="condition.hprice != null" >
      	 <![CDATA[and actual_price <= #{condition.hprice,jdbcType=TIMESTAMP}]]>
      </if>
      <if test="condition.startDate != null" >
      	 <![CDATA[and o.create_date >= #{condition.startDate,jdbcType=TIMESTAMP}]]>
      </if>
      <if test="condition.endDate != null" >
      	 <![CDATA[and o.create_date <= #{condition.endDate,jdbcType=TIMESTAMP}]]>
      </if>
      <if test="condition.viewStaffName != null" >
         and e.`name` like CONCAT("%", #{condition.viewStaffName,jdbcType=VARCHAR} ,"%")
      </if>
      <if test="condition.area != null" >
         and c.area = #{condition.area,jdbcType=VARCHAR}
      </if>
      <if test="condition.positionType != null" >
         and e.position_type = #{condition.positionType,jdbcType=VARCHAR}
      </if>
      <if test="condition.startDate2 != null" >
      	 <![CDATA[and DATE_FORMAT(o.create_date, '%Y%m%d') >= REPLACE(#{condition.startDate2,jdbcType=TIMESTAMP},'-','')]]>
      </if>
      <if test="condition.endDate2 != null" >
      	 <![CDATA[and DATE_FORMAT(o.create_date, '%Y%m%d') <= REPLACE(#{condition.endDate2,jdbcType=TIMESTAMP},'-','')]]>
      </if>
    </trim>
  </sql>
  
  <sql id="Example_Where_Clause_new" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.orderType != null" >
         and i.order_type = #{condition.orderType,jdbcType=VARCHAR}
      </if>
      <if test="condition.staffName != null" >
         and receiver_staff_name = #{condition.staffName,jdbcType=VARCHAR}
      </if>   
      <if test="condition.status != null" >
         and i.status = #{condition.status,jdbcType=VARCHAR}
      </if>
      <if test="condition.orderType != null" >
         and d.order_type = #{condition.orderType,jdbcType=VARCHAR}
      </if>
      <if test="condition.payType != null" >
         and i.pay_type = #{condition.payType,jdbcType=VARCHAR}
      </if>   
     <if test="condition.customerId != null" >
         and i.customer_id = #{condition.customerId,jdbcType=VARCHAR}
      </if>   
    </trim>
  </sql>
  
  <sql id="Base_Column_List" >
    id, order_number, customer_id, phone_staff_id, receiver_staff_id, status, order_type, 
    pay_type, pay_price, actual_price, finance_flag, finance_type, finance_operator_id, 
    finance_date, warehouse_flag, warehouse_operator_id, warehouse_date, culture_flag, 
    culture_operator_id, culture_date, create_date, create_id, update_date, update_id, 
    delete_flag
  </sql>
  
    <select id="selectByExample4Page" resultMap="BaseResultMap" parameterType="com.portal.bean.Criteria" >
	    select
	    (select e.`name` from employee_info e where e.id = phone_staff_id) as phone_staff_name,
        (select e.`name` from employee_info e where e.id = receiver_staff_id) as receiver_staff_name,
	    <include refid="Base_Column_List" />
	    from order_info
	    <if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
	  	<if test="condition.typeList != null" >
          and order_type in 
<!--           <foreach item="typeList" index="index" collection="array"   
                        open="(" separator="," close=")">  
                       #{typeList}  
               </foreach>  -->
     	</if>
	    <if test="orderByClause != null" >
	      order by ${orderByClause}
	    </if>
	    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  
      <select id="selectByExampleNew4Page" resultMap="BaseResultMapNew" parameterType="com.portal.bean.Criteria" >
			select 
			d.id,
			d.order_id,
			d.good_sort_id,
			d.good_sort_name,
			d.good_id,
			d.good_name,
			d.price,
			d.repurchase_price,
			d.amount,
			d.delete_flag,
			d.update_id,
			d.order_type,
			i.order_number,
			i.customer_id,
			(select e.`name` from employee_info e where e.id = i.phone_staff_id) as phone_staff_name,
			(select e.`name` from employee_info e where e.id = i.receiver_staff_id) as receiver_staff_name,
			i.status,
			i.pay_type,
			i.pay_price,
			i.actual_price,
			i.finance_flag,
			i.finance_type,
			i.finance_operator_id,
			i.finance_date,
			i.warehouse_flag,
			i.warehouse_operator_id,
			i.warehouse_date,
			i.culture_flag,
			i.culture_operator_id,
			i.culture_date,
			i.remarks,
			i.delete_flag,
			DATE_FORMAT(i.create_date, '%Y-%m-%d') as create_date_string
			from order_detail_info d left join order_info i on i.id=d.order_id
	    <if test="_parameter != null" >
	      <include refid="Example_Where_Clause_new" />
	    </if>
	    <if test="orderByClause != null" >
	      order by ${orderByClause}
	    </if>
	    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  
  
  <!-- 根据条件查询对应业绩 -->
  <select id="getClinchPerfors" parameterType="com.portal.bean.Criteria" resultType="java.util.Map">
  	select sum(o.actual_price) as total_amounts,
		(select sum(o.actual_price) 
			from order_info o
			left join customer_info c on o.customer_id = c.id
			<if test="_parameter != null" >
		      <include refid="Example_Where_Clause" />
		    </if>
			and c.area = '1' and (o.status = '4' or o.pay_type = '1')) as dl_amounts,
		(select sum(o.actual_price) 
			from order_info o
			left join customer_info c on o.customer_id = c.id
			<if test="_parameter != null" >
		      <include refid="Example_Where_Clause" />
		    </if>
			and c.area = '0' and (o.status = '4' or o.pay_type = '1')) as sy_amounts
	from order_info o
	left join customer_info c on o.customer_id = c.id
	<if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
	and (o.status = '4' or o.pay_type = '1')
  </select>
  
  <!-- 获取每日业绩统计线形图数据 -->
  <select id="getDayAndPerfors" parameterType="com.portal.bean.Criteria" resultMap="BaseResultMap">
  	select 
		DATE_FORMAT(o.create_date, '%Y-%m-%d') as create_date,
		sum(o.actual_price) as performance
	from order_info o 
	left join customer_info c on o.customer_id = c.id
	<if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
	and (o.status = '4' or o.pay_type = '1')
	group by DATE_FORMAT(o.create_date, '%Y%m%d')
	ORDER BY o.create_date
  </select>
  
  <!-- 获取星期（周）对应的业绩 原获取每日业绩方法
  <select id="getWeekClinchPerfors" parameterType="java.lang.String" resultType="java.util.Map">
  	select distinct
  		(select DATE_ADD(#{startDate},INTERVAL +0 day)) as Monday_Day,
		(select sum(o.actual_price) from order_info o left join customer_info c on o.customer_id = c.id where o.create_date like CONCAT("%", DATE_ADD(#{startDate},INTERVAL +0 day), "%") and c.area = #{area} and o.status = '4' or o.pay_type = '1') as Monday,
		(select DATE_ADD(#{startDate},INTERVAL +1 day)) as Tuesday_Day,
		(select sum(o.actual_price) from order_info o left join customer_info c on o.customer_id = c.id where o.create_date like CONCAT("%", DATE_ADD(#{startDate},INTERVAL +1 day), "%") and c.area = #{area} and o.status = '4' or o.pay_type = '1') as Tuesday,
		(select DATE_ADD(#{startDate},INTERVAL +2 day)) as Wednesday_Day,
		(select sum(o.actual_price) from order_info o left join customer_info c on o.customer_id = c.id where o.create_date like CONCAT("%", DATE_ADD(#{startDate},INTERVAL +2 day), "%") and c.area = #{area} and o.status = '4' or o.pay_type = '1') as Wednesday,
		(select DATE_ADD(#{startDate},INTERVAL +3 day)) as Thursday_Day,
		(select sum(o.actual_price) from order_info o left join customer_info c on o.customer_id = c.id where o.create_date like CONCAT("%", DATE_ADD(#{startDate},INTERVAL +3 day), "%") and c.area = #{area} and o.status = '4' or o.pay_type = '1') as Thursday,
		(select DATE_ADD(#{startDate},INTERVAL +4 day)) as Friday_Day,
		(select sum(o.actual_price) from order_info o left join customer_info c on o.customer_id = c.id where o.create_date like CONCAT("%", DATE_ADD(#{startDate},INTERVAL +4 day), "%") and c.area = #{area} and o.status = '4' or o.pay_type = '1') as Friday,
		(select DATE_ADD(#{startDate},INTERVAL +5 day)) as Saturday_Day,
		(select sum(o.actual_price) from order_info o left join customer_info c on o.customer_id = c.id where o.create_date like CONCAT("%", DATE_ADD(#{startDate},INTERVAL +5 day), "%") and c.area = #{area} and o.status = '4' or o.pay_type = '1') as Saturday,
		(select DATE_ADD(#{startDate},INTERVAL +6 day)) as Sunday_Day,
		(select sum(o.actual_price) from order_info o left join customer_info c on o.customer_id = c.id where o.create_date like CONCAT("%", DATE_ADD(#{startDate},INTERVAL +6 day), "%") and c.area = #{area} and o.status = '4' or o.pay_type = '1') as Sunday
	from order_info
  </select>
  -->
  <!-- 根据条件查询员工名称按照员工名称分组 -->
  <select id="getEmployeeInfos" parameterType="com.portal.bean.Criteria" resultType="java.lang.String">
  	select e.`name` from employee_info e 
  	where 1=1
    	<if test="condition.area != null" >
        	and e.organization_id = #{condition.area,jdbcType=VARCHAR}
     	</if>
		<if test="condition.positionType != null" >
       		and e.position_type = #{condition.positionType,jdbcType=VARCHAR}
     	</if>
  	GROUP BY e.`name`
  </select>
  
  <!-- 获取员工业绩数据 -->
  <select id="getStaffPerfors" parameterType="com.portal.bean.Criteria" resultMap="FormResultMap">
  	select a.staff_id, a.staff_name, a.performance from (
		select 
	  		e.id as staff_id,
	  		e.`name` as staff_name,
	  		sum(o.actual_price) as performance
		from employee_info e
		left join order_info o on e.id = <if test="condition.conditionId != null" >${condition.conditionId}</if>
		left join customer_info c on o.customer_id = c.id
		<if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
		and o.status = '4' or o.pay_type = '1'
		group by e.`name`
		
		UNION
	        
	    select 
	    	e.id as staff_id, e.`name` as staff_name, 0 as performance
	    from employee_info e
	    where 1=1
		    <if test="condition.area != null" >
	         and e.organization_id = #{condition.area,jdbcType=VARCHAR}
	      	</if>
			<if test="condition.positionType != null" >
	         and e.position_type = #{condition.positionType,jdbcType=VARCHAR}
	      	</if>
	    group by e.`name`
	) a group by a.staff_name
  </select>
  
  <!-- 销售日报表-获取销售商品信息 -->
  <select id="getSellGoods" parameterType="com.portal.bean.Criteria" resultMap="SellGoodsResultMap">
    select 
        od.good_name as good_name,
        sum(od.amount) as amount,
        od.price as price,
        sum(od.amount)*od.price as total_price,
        o.Remarks as remarks
    from order_detail_info od
    left join order_info o on od.order_id = o.id
    left join customer_info c on o.customer_id = c.id
    <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
    </if>
    and od.good_sort_id != '1'
    and o.finance_flag = '1'
    and (o.`status` = '4' or o.pay_type = '1')
    group by od.good_name
  </select>
  
  <!-- 销售日报表-获取销售结算明细(信用卡千分之6/储蓄卡千分之5) -->
  <select id="getSellclearingDetail" parameterType="com.portal.bean.Criteria" resultMap="BaseResultMap">
  	select 
        o.finance_type as finance_type,
        sum(o.actual_price) as actual_price,
        sum(
	        case
	            o.finance_type
	        when
	            '1'
	        then
	            o.actual_price - o.actual_price * 0.006
	        when
	            '2'
	        then
                o.actual_price - o.actual_price * 0.005
        	end
        ) as income, 
        o.Remarks as remarks
    from order_info o
    left join customer_info c on o.customer_id = c.id
    left join order_detail_info od on o.id = od.order_id
    <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
    </if>
    and od.good_sort_id != '1'
    and o.finance_flag = '1'
    and (o.`status` = '4' or o.pay_type = '1')
    group by o.finance_type
    order by o.finance_type
  </select>
  
</mapper>