<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.dao.extra.ReceptionInfoExtraDao" >
  <resultMap id="BaseResultMap" type="com.portal.bean.result.ReceptionInfoForm" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="receiver_staff_id" property="receiverStaffId" jdbcType="VARCHAR" />
    <result column="receiver_staff_name" property="receiverStaffName" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIME" />
    <result column="end_time" property="endTime" jdbcType="TIME" />
    <!-- 订单信息和赠品订单信息 -->
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="present_order_id" property="presentOrderId" jdbcType="VARCHAR" />
    <result column="present_name" property="presentName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    
    <!-- 登门出单统计需要字段 -->
    <result column="phone_staff_name" property="phoneStaffName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="relation_name" property="relationName" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="vip_card" property="vipCard" jdbcType="VARCHAR" />
    <result column="order_count" property="orderCount" jdbcType="VARCHAR" />
    <result column="total_time" property="totalTime" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
    	<if test="condition.endtimeflag != null" >
	    	 and end_time is null
	    </if>
	    <if test="condition.staffName != null" >  
	      	 and ((select e.`name` from employee_info e where e.id = r.phone_staff_id) like CONCAT("%", #{condition.staffName,jdbcType=VARCHAR}, "%")
	         or (select e.`name` from employee_info e where e.id = r.receiver_staff_id) like CONCAT("%", #{condition.staffName,jdbcType=VARCHAR}, "%"))
	    </if>
	    <if test="condition.cId != null" >  
	      	 and c.id = #{condition.cId,jdbcType=VARCHAR}
	    </if>
      <if test="condition.area != null" >
      	 and c.area = #{condition.area,jdbcType=VARCHAR}
      </if>
      <if test="condition.type != null" >
      	 and c.type = #{condition.type,jdbcType=VARCHAR}
      </if>
      <if test="condition.name != null" >
      	 and c.name like CONCAT("%", #{condition.name,jdbcType=VARCHAR}, "%")
      </if>
      <if test="condition.startDate != null" >
      	 <![CDATA[and DATE(create_date) >= #{condition.startDate,jdbcType=TIMESTAMP}]]>
      </if>
      <if test="condition.endDate != null" >
      	 <![CDATA[and DATE(create_date) <= #{condition.endDate,jdbcType=TIMESTAMP}]]>
      </if>
      <!-- 定时器查询条件 -->
      <if test="condition.receiverStaffId != null" >
      	 and r.receiver_staff_id = #{condition.receiverStaffId,jdbcType=VARCHAR}
      </if>
      <if test="condition.startTime != null" >
      	 <![CDATA[and r.start_time >= #{condition.startTime,jdbcType=TIMESTAMP}]]>
      </if>
      <if test="condition.endTime != null" >
      	 <![CDATA[and r.end_time <= #{condition.endTime,jdbcType=TIMESTAMP}]]>
      </if>
    </trim>
  </sql>
  
  <sql id="Base_Column_List" >
    id, 
    customer_id, 
    receiver_staff_id, 
    start_time, 
    end_time, 
    order_id,
    present_order_id,
    present_name,
    create_date
  </sql>
  
  <!-- 接待信息相关查询 -->
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portal.bean.Criteria" >
     select 
        c.id as customer_id,
        c.`name` as customer_name,
        (select e.`name` from employee_info e where e.id = r.phone_staff_id) as phone_staff_name,
        (select e.`name` from employee_info e where e.id = r.receiver_staff_id) as receiver_staff_name,
        c.type as type,
	    date_format(r.start_time, '%H:%i') as start_time,
		date_format(r.end_time, '%H:%i') as end_time,
        date_format(r.create_date, '%Y-%m-%d') as create_date
    from reception_info r
    left join customer_info c on r.customer_id = c.id 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  
 <select id="countByExample" parameterType="com.portal.bean.Criteria" resultType="java.lang.Integer" >
    select 
       count(*)
    from reception_info r
    left join customer_info c on r.customer_id = c.id 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  
  <select id="queryRecordListbyId" resultMap="BaseResultMap" parameterType="com.portal.bean.Criteria" >
    select 
        c.id as customer_id,
        c.`name` as customer_name,
        (select e.`name` from employee_info e where e.id = r.phone_staff_id) as phone_staff_name,
        (select e.`name` from employee_info e where e.id = r.receiver_staff_id) as receiver_staff_name,
        c.type as type,
	    date_format(r.start_time, '%H:%i') as start_time,
		date_format(r.end_time, '%H:%i') as end_time,
        date_format(r.create_date, '%Y-%m-%d') as create_date
    from reception_info r
	left join customer_info c on r.customer_id = c.id
    where customer_id =#{condition.customerId,jdbcType=VARCHAR}
    order by r.create_date desc limit 0,5
  </select>
  
    <select id="queryRecordBeginbyId" resultMap="BaseResultMap" parameterType="com.portal.bean.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from reception_info
    where end_time =null
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  
  <!-- 根据条件获取登门出单统计总条数 -->
  <select id="countByCondition" parameterType="com.portal.bean.Criteria" resultType="java.lang.Integer" >
    select count(*) from
    (
    	select 
	        r.start_time
	    from reception_info r
	    left join customer_info c on r.customer_id = c.id
	    <if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
    ) a
  </select>
  
  <!-- 根据条件获取登门出单统计数据 -->
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.portal.bean.Criteria" >
    select 
    	TIMESTAMPDIFF(MINUTE, r.start_time, r.end_time) as total_time,
        date_format(r.start_time, '%h:%i') as start_time,
        date_format(r.create_date, '%Y-%m-%d') as create_date,
        c.id as customer_id,
        c.`name` as customer_name,
        c.phone as phone,
        (select e.`name` from employee_info e where e.id = r.phone_staff_id) as phone_staff_name,
        (select e.`name` from employee_info e where e.id = r.receiver_staff_id) as receiver_staff_name,
        c.type as type,
        (select ci.`name` from customer_info ci where ci.id = c.relation_id) as relation_name,
        c.birthday as birthday,
        c.area as area,
        c.vip_card as vip_card,
        date_format(r.end_time, '%h:%i') as end_time,
        (select count(o.id) from order_info o where o.customer_id = c.id 
        	<if test="condition.startDate != null" >
		      <![CDATA[and o.create_date >= #{condition.startDate,jdbcType=TIMESTAMP}]]>
		    </if>
		    <if test="condition.endDate != null" >
		      <![CDATA[and o.create_date <= #{condition.endDate,jdbcType=TIMESTAMP}]]>
		    </if>
         ) AS order_count
    from reception_info r
    left join customer_info c on r.customer_id = c.id
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  
  <!-- 设置接待结束标志，取得此用户的最新的一条登门记录进行结束标志 -->
  <update id="updateById4Quit" parameterType="com.portal.bean.Criteria" >
    update reception_info
    set end_time = now() 
    where customer_id = #{condition.customerId,jdbcType=VARCHAR}
    and end_time is null
    order by create_date Desc limit 1 ;
  </update>
  
    <!-- 更新订单ID -->
  <update id="updateOrderId" parameterType="com.portal.bean.Criteria" >
    update reception_info
    set order_id = #{condition.orderId,jdbcType=VARCHAR}
    where customer_id = #{condition.customerId,jdbcType=VARCHAR}
    and end_time is null
    order by create_date Desc limit 1 ;
  </update>  
  
      <!-- 更新礼品订单ID  如果ID 可以为多个使用：concat(present_name,',x') -->
  <update id="updatePresentOrderId" parameterType="com.portal.bean.Criteria" >
    update reception_info
    set present_order_id = #{condition.presentOrderId,jdbcType=VARCHAR},present_name = #{condition.presentName,jdbcType=VARCHAR}
    where customer_id = #{condition.customerId,jdbcType=VARCHAR}
    and end_time is null
    order by create_date Desc limit 1 ;
  </update> 
  
  <!-- 获取定时器需要的数据 -->
  <select id="getByConditions" resultType="java.lang.String" parameterType="com.portal.bean.Criteria">
  	select 
  		distinct
    	r.customer_id
    from reception_info r
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>