.gw_num{border: 1px solid #dbdbdb;width: 110px;line-height: 26px;overflow: hidden;}
.gw_num em{display: block;height: 26px;width: 26px;float: left;color: #7A7979;border-right: 1px solid #dbdbdb;text-align: center;cursor: pointer;}
.gw_num .num{display: block;float: left;text-align: center;width: 52px;font-style: normal;font-size: 14px;line-height: 24px;border: 0;}
.gw_num em.add{float: right;border-right: 0;border-left: 1px solid #dbdbdb;}
  .opacity input[type="radio"]:checked + span:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 6px;
    left: 5px;
    background-color: #007aff;
    border-radius: 50%;
    display: block; }